<footer class="footer">
    

    <!-- Footer Elements -->
    <div class="container">

    <!--Grid row-->
    <div class="row d-flex justify-content-center">

    <!--Grid column-->
    <div class="col-md-6">

      <!-- Video -->
      <div class="embed-responsive embed-responsive-16by9 mb-4">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/LFg5OMZBc-Q" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>

    </div>
    <!--Grid column-->

    </div>
    <!--Grid row-->

    </div>
    <!-- Footer Elements -->

      <!-- Copyright -->
      <div class="footer-copyright text-center py-3">© 2021 Copyright: 
        <a href="/" style="color: white;" id="copyright-ces"> Civil Engineering Society</a>

        <!-- <p>SVNIT Surat</p> -->
        <!-- <p><i class="fas fa-envelope"></i> &nbsp; <a href="mailto: ces.svnit2021@gmail.com" style="color: white;"> ces.svnit2021@gmail.com</a></p> -->

        <p><i class="fas fa-phone-volume"></i> &nbsp; <a href="tel:635-418-5001" style="color: white;">+91-6354185001</a> </p>
        
        <p>Developed by: <a href="https://www.linkedin.com/in/saurabhshukla09/" style="color: #ffc107;"> Saurabh Shukla</a> </p>
        

      </div>

      


    <div class="footer__navigation">
      <ul class="footer__list">
        <li class="footer__item">
          <a href="https://www.facebook.com/ces.nitsurat/" class="footer__link" target="_blank"
            ><i class="fab fa-facebook-f footerIcons"></i
          ></a>
        </li>
        

        <li class="footer__item">
          <a href="https://instagram.com/ces.svnit" class="footer__link" target="_blank"
            ><i class="fab fa-instagram footerIcons"></i
          ></a>
        </li>


        <li class="footer__item">
          <a href="https://www.youtube.com/channel/UCQRgD4IaAHkcr-wqFzLi-2A/featured" class="footer__link" target="_blank"
            ><i class="fab fa-youtube footerIcons"></i
          ></a>
        </li>


        <li class="footer__item">
          <a href="https://www.linkedin.com/company/civil-engineering-society-svnit/about/" class="footer__link" target="_blank"
            ><i class="fab fa-linkedin-in footerIcons"></i
          ></a>
        </li>


        <li class="footer__item">
          <a href="mailto: ces.svnit2021@gmail.com" class="footer__link" target="_blank"
            ><i class="fas fa-envelope" style="font-size: 24px"></i></a>
        </li>

      </ul>
    </div>



  </footer>