<%- include('partials/header') %>

<div class="container mt-5">

    <div class="row">
      
        <div class="col-sm-9">

            <h1 class="article-title">Construction Management</h1>
             <p class="display-6 article-subtitle">95% of knowledge about a construction project is lost during progress. Learn how blockchain will solve this & how Augmented & Virtual reality will optimize the cost and time required for design selection.</p>         
            <hr>
            <br>
          
        </div>

        <img class="img-responsive article-image-1" src="../../public/img-article/const 4.png" alt="dsbcjkdbvbh">


        <div class="col-sm-9">

            <p class="blockquote article-writer"> By - <%=writer %>, B.tech 2nd-year </p>
            <p class="article-date"> <%=date %> </p>

        </div>



        <div class="col-sm-9">

            <p class="article-body">Construction has always been a communal effort involving a larger or smaller number of people. Communication technology has had
            a substantial influence on interactions among individuals connected throughout history. The designing, planning, and construction work were organized around
            a master builder before on-paper papers and drawings were customary. The initial wave of specialization and, as a result, fragmentation of professions,
            enterprises, and procedures was allowed by paper documentation.</p>

            <p class="article-body">According to Aon, a leading construction solutions and services organization,
95% of knowledge about a construction project is lost during the transition to
the initial owner of the completed project. The blockchain's distributed ledger
may contain lifespan information about each item in a construction project, such
as warranties, certifications, and replacements.</p>

<img class="img-responsive article-image-2" src="../../public/img-article/const 1.png" alt="dsbcjkdbvbh">


            <p class="article-body" style="font-weight:bolder">Use case of AR and VR:</p>

            <p class="article-body">Augmented Reality & Virtual reality are the latest technology that architects
and construction companies are using to gain the upper hand on competitors
while attracting new customers. Virtual reality (VR), augmented reality (AR)
and 360-degree cameras are slowly but steadily gaining traction in the
construction industry because they allow users to virtually experience a place
before converting it, saving time and money for everyone.</p>

            <p class="article-body">AR can analyze layouts and designs, and even predict problems before any
work begins, allowing issues to be correct before ground breaks,” says Jordan
Moffett, a virtual design and construction manager at McCarthy Building
Companies, Inc</p>

            <p class="article-body" style="font-weight:bolder">Use case of Blockchain technology:</p>

            

            <p class="article-body">Blockchain technology is a revolutionary tool for recording transactions and
linking them together to build a "chain" known as a distributed ledger.
There are three principles of blockchain:
• Secure
• Decentralized
• Scalable
By utilizing smart contracts to negotiate editing privileges and preserving an
immutable public record of all model alterations, offer a valuable tool for
managing and recording changes to the BIM (Building Information Modeling)
model throughout the design and construction phases.
</p>

            <p class="article-body">Companies like Briq are pioneering blockchain use in skyscrapers and other
large-scale projects. Communication breakdowns among builders, vendors, and
labourers can cause delays in project completion. The use of blockchain
technology is a trend that will help the construction sector become more
efficient in the long run.
</p>

<img class="img-responsive article-image-2" src="../../public/img-article/const 3.png" alt="dsbcjkdbvbh">

            <p class="article-body" style="font-weight:bolder">Benefits:</p>
            
	            <ul>
                <li><p class="article-body">Smart contracts are written agreements that include blockchain technology.
The necessity for document duplication is eliminated since data is
decentralized and accessible throughout the network. All contracts are stored
on the blockchain and may be found via a simple search. </p></li>

                <li><p class="article-body">We've demonstrated that everyone has access to the complete blockchain of
the project. While this increases transparency, it also encourages an
atmosphere of open cooperation in which parties can offer suggestions to
enhance a project component. </p></li>

                <li><p class="article-body">In most circumstances, using blockchain to process payments is inexpensive.
Faster payments and less back-and-forth are the results of no authorization or
processing costs. The rigorous restrictions established by smart contracts on
the blockchain ensure that money is paid for work completed according to
the project structure. </p></li>

                <li><p class="article-body">When dealing with complicated projects like airports or hospitals,
procurement may become exceedingly onerous. By inviting suppliers to join
a decentralized blockchain network, project managers can track supplies
throughout the project and guarantee that they are used efficiently </p></li>

               
            </ul>

    <p class="article-body">To summarize, augmented and virtual reality can revolutionize how we construct and see structures, whereas blockchain will 
    have an influence on the world in terms of data storage and trustless transactions.</p>

            <br>
            <br>

        </div>



        <br>
        <br>
       
       
      



        <div class="recommended-article-container">

            <h1 class="article-title">Recommended Reads:</h1>
            <hr>


            <div class="row no-gutters horizontal-artical-card" id="article-1">
                <div class="col-md-4">
                  <a href="/ces/articles/smart-transport"><img src="../../public/img-article/transport1.jpg" class="card-img" alt="..."></a>
                </div>
                <div class="col-md-8">
                  <div class="card-body">
                    <p class="card-text"><small class="text-muted">Pushpendra Bhakar, Ganesh, Kripal Singh, Bhavesh Jangid, B.tech 2nd-year | January 31, 2022</small></p>
                    <a href="/ces/articles/smart-transport"><h1 class="card-title">Smart Transportation</h1></a>
                    <p class="card-text">Good smart transportation refer to the integrated application of modern technology and management strategies into transportation system.</p>
                  </div>
                </div>
            </div>


   

          </div>



  
    </div>
  </div>






  <%- include('partials/footer') %>
