


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    
    <link rel="stylesheet" href="../public/team-design.css">

    <title><%=title %></title>
</head>
<body>


<section class="team">
    <div class="container">
        <div class="row">

            <div class="col-lg-12">
                <h6 class="description">Core committee members 2020-21</h6>
                <div class="row pt-md">
                    <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12 profile">
                        <div class="img-box">
                            <img src="../public/img-team/tirth.JPG" class="img-responsive">
                            <ul class="text-center">
                                <a href="#">
                                    <li><i class="fa fa-facebook"></i></li>
                                </a>
                                <a href="#">
                                    <li><i class="fa fa-twitter"></i></li>
                                </a>
                                <a href="#">
                                    <li><i class="fa fa-linkedin"></i></li>
                                </a>
                            </ul>
                        </div>
                        <h1>Tirthraj Anand</h1>
                        <h2>Head</h2>
                        <p>(M) +91-6354185001</p>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12 profile">
                        <div class="img-box">
                            <img src="../public/img-team/YASH.jpg" class="img-responsive">
                            <ul class="text-center">
                                <a href="#">
                                    <li><i class="fa fa-facebook"></i></li>
                                </a>
                                <a href="#">
                                    <li><i class="fa fa-twitter"></i></li>
                                </a>
                                <a href="#">
                                    <li><i class="fa fa-linkedin"></i></li>
                                </a>
                            </ul>
                        </div>
                        <h1>Yash Katiyar</h1>
                        <h2>Co-head</h2>
                        <p>(M) +91-9887664462</p>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12 profile">
                        <div class="img-box">
                            <img src="../public/img-team/AKSHITA.jpg" class="img-responsive">
                            <ul class="text-center">
                                <a href="#">
                                    <li><i class="fa fa-facebook"></i></li>
                                </a>
                                <a href="#">
                                    <li><i class="fa fa-twitter"></i></li>
                                </a>
                                <a href="#">
                                    <li><i class="fa fa-linkedin"></i></li>
                                </a>
                            </ul>
                        </div>
                        <h1>Akshita Kumari</h1>
                        <h2>Co-head</h2>
                        <p>(M) +91-9079052802</p>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12 profile">
                        <div class="img-box">
                            <img src="../public/img-team/MAITRI.jpg" class="img-responsive">
                            <ul class="text-center">
                                <a href="#">
                                    <li><i class="fa fa-facebook"></i></li>
                                </a>
                                <a href="#">
                                    <li><i class="fa fa-twitter"></i></li>
                                </a>
                                <a href="#">
                                    <li><i class="fa fa-linkedin"></i></li>
                                </a>
                            </ul>
                        </div>
                        <h1>Maitri Sharma</h1>
                        <h2>Finance head</h2>
                        <p>(M) +91-9925659569</p>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12 profile">
                        <div class="img-box">
                            <img src="../public/img-team/KESHAV.jpg" class="img-responsive">
                            <ul class="text-center">
                                <a href="#">
                                    <li><i class="fa fa-facebook"></i></li>
                                </a>
                                <a href="#">
                                    <li><i class="fa fa-twitter"></i></li>
                                </a>
                                <a href="#">
                                    <li><i class="fa fa-linkedin"></i></li>
                                </a>
                            </ul>
                        </div>
                        <h1>Keshav Patel</h1>
                        <h2>Finance head</h2>
                        <p>(M) +91-9571503467</p>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12 profile">
                        <div class="img-box">
                            <img src="../public/img-team/MANAN.jpg" class="img-responsive">
                            <ul class="text-center">
                                <a href="#">
                                    <li><i class="fa fa-facebook"></i></li>
                                </a>
                                <a href="#">
                                    <li><i class="fa fa-twitter"></i></li>
                                </a>
                                <a href="#">
                                    <li><i class="fa fa-linkedin"></i></li>
                                </a>
                            </ul>
                        </div>
                        <h1>Shah Manan</h1>
                        <h2>Publicity head</h2>
                        <p>(M) +91-7016076828</p>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12 profile">
                        <div class="img-box">
                            <img src="../public/img-team/OM.jpeg" class="img-responsive">
                            <ul class="text-center">
                                <a href="#">
                                    <li><i class="fa fa-facebook"></i></li>
                                </a>
                                <a href="#">
                                    <li><i class="fa fa-twitter"></i></li>
                                </a>
                                <a href="#">
                                    <li><i class="fa fa-linkedin"></i></li>
                                </a>
                            </ul>
                        </div>
                        <h1>Om Patel</h1>
                        <h2>Publicity head</h2>
                        <p>(M) +91-9978687332</p>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12 profile">
                        <div class="img-box">
                            <img src="../public/img-team/RAVI.jpg" class="img-responsive">
                            <ul class="text-center">
                                <a href="#">
                                    <li><i class="fa fa-facebook"></i></li>
                                </a>
                                <a href="#">
                                    <li><i class="fa fa-twitter"></i></li>
                                </a>
                                <a href="#">
                                    <li><i class="fa fa-linkedin"></i></li>
                                </a>
                            </ul>
                        </div>
                        <h1>Ravikant Sharma </h1>
                        <h2>Publicity head</h2>
                        <p>(M) +91-6378013641</p>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12 profile">
                        <div class="img-box">
                            <img src="../public/img-team/ASJAD.JPG" class="img-responsive">
                            <ul class="text-center">
                                <a href="#">
                                    <li><i class="fa fa-facebook"></i></li>
                                </a>
                                <a href="#">
                                    <li><i class="fa fa-twitter"></i></li>
                                </a>
                                <a href="#">
                                    <li><i class="fa fa-linkedin"></i></li>
                                </a>
                            </ul>
                        </div>
                        <h1>Mohammad Asjad</h1>
                        <h2>Event head</h2>
                        <p>(M) +91-8172920460</p>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12 profile">
                        <div class="img-box">
                            <img src="../public/img-team/SHUBHAM.jpg" class="img-responsive">
                            <ul class="text-center">
                                <a href="#">
                                    <li><i class="fa fa-facebook"></i></li>
                                </a>
                                <a href="#">
                                    <li><i class="fa fa-twitter"></i></li>
                                </a>
                                <a href="#">
                                    <li><i class="fa fa-linkedin"></i></li>
                                </a>
                            </ul>
                        </div>
                        <h1>Meet Patel</h1>
                        <h2>Event head</h2>
                        <p>(M) +91-9537691019</p>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12 profile">
                        <div class="img-box">
                            <img src="../public/img-team/ANSHUL.jpg" class="img-responsive">
                            <ul class="text-center">
                                <a href="#">
                                    <li><i class="fa fa-facebook"></i></li>
                                </a>
                                <a href="#">
                                    <li><i class="fa fa-twitter"></i></li>
                                </a>
                                <a href="#">
                                    <li><i class="fa fa-linkedin"></i></li>
                                </a>
                            </ul>
                        </div>
                        <h1>Anshul Kothari</h1>
                        <h2>Technical head</h2>
                        <p>(M) +91-9456314866</p>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12 profile">
                        <div class="img-box">
                            <img src="../public/img-team/YASIN.JPG" class="img-responsive">
                            <ul class="text-center">
                                <a href="#">
                                    <li><i class="fa fa-facebook"></i></li>
                                </a>
                                <a href="#">
                                    <li><i class="fa fa-twitter"></i></li>
                                </a>
                                <a href="#">
                                    <li><i class="fa fa-linkedin"></i></li>
                                </a>
                            </ul>
                        </div>
                        <h1>Mohammad Yasin Azimi</h1>
                        <h2>Technical head</h2>
                        <p>(M) +91-9173163826</p>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12 profile">
                        <div class="img-box">
                            <img src="../public/img-team/PARAM.jpeg" class="img-responsive">
                            <ul class="text-center">
                                <a href="#">
                                    <li><i class="fa fa-facebook"></i></li>
                                </a>
                                <a href="#">
                                    <li><i class="fa fa-twitter"></i></li>
                                </a>
                                <a href="#">
                                    <li><i class="fa fa-linkedin"></i></li>
                                </a>
                            </ul>
                        </div>
                        <h1>Param Joshi</h1>
                        <h2>Technical head</h2>
                        <p>(M) +91-7096426617</p>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12 profile">
                        <div class="img-box">
                            <img src="../public/img-team/ARYA.jpg" class="img-responsive">
                            <ul class="text-center">
                                <a href="#">
                                    <li><i class="fa fa-facebook"></i></li>
                                </a>
                                <a href="#">
                                    <li><i class="fa fa-twitter"></i></li>
                                </a>
                                <a href="#">
                                    <li><i class="fa fa-linkedin"></i></li>
                                </a>
                            </ul>
                        </div>
                        <h1>Himanshu Arya</h1>
                        <h2>Creative head</h2>
                        <p>(M) +91-9958461061</p>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12 profile">
                        <div class="img-box">
                            <img src="../public/img-team/MAULIK.jpg" class="img-responsive">
                            <ul class="text-center">
                                <a href="#">
                                    <li><i class="fa fa-facebook"></i></li>
                                </a>
                                <a href="#">
                                    <li><i class="fa fa-twitter"></i></li>
                                </a>
                                <a href="#">
                                    <li><i class="fa fa-linkedin"></i></li>
                                </a>
                            </ul>
                        </div>
                        <h1>Maulik Tabiyar</h1>
                        <h2>Creative head</h2>
                        <p>(M) +91-8160600410</p>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12 profile">
                        <div class="img-box">
                            <img src="../public/img-team/SONU.jpg" class="img-responsive">
                            <ul class="text-center">
                                <a href="#">
                                    <li><i class="fa fa-facebook"></i></li>
                                </a>
                                <a href="#">
                                    <li><i class="fa fa-twitter"></i></li>
                                </a>
                                <a href="#">
                                    <li><i class="fa fa-linkedin"></i></li>
                                </a>
                            </ul>
                        </div>
                        <h1>Sonu Ravat</h1>
                        <h2>Public relations head</h2>
                        <p>(M) +91-9601603269</p>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12 profile">
                        <div class="img-box">
                            <img src="../public/img-team/cooldeep.jpg" class="img-responsive">
                            <ul class="text-center">
                                <a href="#">
                                    <li><i class="fa fa-facebook"></i></li>
                                </a>
                                <a href="#">
                                    <li><i class="fa fa-twitter"></i></li>
                                </a>
                                <a href="#">
                                    <li><i class="fa fa-linkedin"></i></li>
                                </a>
                            </ul>
                        </div>
                        <h1>Kuldip Sankhat</h1>
                        <h2>Magazine head</h2>
                        <p>(M) +91-6354641718</p>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12 profile">
                        <div class="img-box">
                            <img src="../public/img-team/j.jpg" class="img-responsive">
                            <ul class="text-center">
                                <a href="#">
                                    <li><i class="fa fa-facebook"></i></li>
                                </a>
                                <a href="#">
                                    <li><i class="fa fa-twitter"></i></li>
                                </a>
                                <a href="#">
                                    <li><i class="fa fa-linkedin"></i></li>
                                </a>
                            </ul>
                        </div>
                        <h1>Jeet Mevawala</h1>
                        <h2>Magazine head</h2>
                        <p>(M) +91-9714481053</p>
                    </div>
                    <!-- <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12 profile">
                        <div class="img-box">
                            <img src="../public/img-team/aman.jpg" class="img-responsive">
                            <ul class="text-center">
                                <a href="#">
                                    <li><i class="fa fa-facebook"></i></li>
                                </a>
                                <a href="#">
                                    <li><i class="fa fa-twitter"></i></li>
                                </a>
                                <a href="#">
                                    <li><i class="fa fa-linkedin"></i></li>
                                </a>
                            </ul>
                        </div>
                        <h1>Aman Pandey</h1>
                        <h2>Developer</h2>
                        <p>(M) +91-9909792126</p>
                    </div> -->
                    
                </div>
            </div>

        </div>
    </div>
</section>



<section>
    <div class="container">
        <div class="row">
            <center>
                <div class="home-button" style="margin: 0 5% 18% 5%;">
                    <a class="btn btn-success" href="/" role="button">Go to home</a>
                </div>
            </center>
        </div>
    </div>
</section>