<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <meta name="author" content="Saurabh Shukla">
    <meta name="description" content="Here's the list of all core-members of Civil Engineering Society, NIT Surat 2019-20">
    <meta name="keywords" content="core-members 2019-20, Civil Engineering Society, SVNIT Surat">


    <link rel="shortcut icon" type="image/png" href="../../public/img-tech/favicon.ico">

    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    
    <link rel="stylesheet" href="../public/team-design.css">

    <title><%=title %></title>
</head>
<body>


<section class="team">
    <div class="container">
        <div class="row">

            <div class="col-lg-12">
                <h6 class="description">Core committee members 2019-20</h6>
                <div class="row pt-md">
                    <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12 profile">
                        <div class="img-box">
                            <img src="../public/img-team/ritik.jpg" class="img-responsive">
                            <ul class="text-center">
                                <a href="#">
                                    <li><i class="fa fa-facebook"></i></li>
                                </a>
                                <a href="#">
                                    <li><i class="fa fa-twitter"></i></li>
                                </a>
                                <a href="#">
                                    <li><i class="fa fa-linkedin"></i></li>
                                </a>
                            </ul>
                        </div>
                        <h1>Ritik Dhalwani</h1>
                        <h2>Head</h2>
                        <p>(M) +91-9898221475</p>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12 profile">
                        <div class="img-box">
                            <img src="../public/img-team/vanshita.jpeg" class="img-responsive">
                            <ul class="text-center">
                                <a href="#">
                                    <li><i class="fa fa-facebook"></i></li>
                                </a>
                                <a href="#">
                                    <li><i class="fa fa-twitter"></i></li>
                                </a>
                                <a href="#">
                                    <li><i class="fa fa-linkedin"></i></li>
                                </a>
                            </ul>
                        </div>
                        <h1>Vanshita Dhanuka</h1>
                        <h2>Co-head</h2>
                        <p>(M) +91-9408406848</p>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12 profile">
                        <div class="img-box">
                            <img src="../public/img-team/rahul.jpg" class="img-responsive">
                            <ul class="text-center">
                                <a href="#">
                                    <li><i class="fa fa-facebook"></i></li>
                                </a>
                                <a href="#">
                                    <li><i class="fa fa-twitter"></i></li>
                                </a>
                                <a href="#">
                                    <li><i class="fa fa-linkedin"></i></li>
                                </a>
                            </ul>
                        </div>
                        <h1>Rahul Galchar</h1>
                        <h2>Co-head</h2>
                        <p>(M) +91-9106722354</p>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12 profile">
                        <div class="img-box">
                            <img src="../public/img-team/apurva.JPG" class="img-responsive">
                            <ul class="text-center">
                                <a href="#">
                                    <li><i class="fa fa-facebook"></i></li>
                                </a>
                                <a href="#">
                                    <li><i class="fa fa-twitter"></i></li>
                                </a>
                                <a href="#">
                                    <li><i class="fa fa-linkedin"></i></li>
                                </a>
                            </ul>
                        </div>
                        <h1>Apurva Jaiswar</h1>
                        <h2>Treasurer</h2>
                        <p>(M) +91-9673381166</p>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12 profile">
                        <div class="img-box">
                            <img src="../public/img-team/abhishek.jpg" class="img-responsive">
                            <ul class="text-center">
                                <a href="#">
                                    <li><i class="fa fa-facebook"></i></li>
                                </a>
                                <a href="#">
                                    <li><i class="fa fa-twitter"></i></li>
                                </a>
                                <a href="#">
                                    <li><i class="fa fa-linkedin"></i></li>
                                </a>
                            </ul>
                        </div>
                        <h1>Abhishek Patat</h1>
                        <h2>Treasurer</h2>
                        <p>(M) +91-7698247017</p>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12 profile">
                        <div class="img-box">
                            <img src="../public/img-team/harsh_kahar.jpg" class="img-responsive">
                            <ul class="text-center">
                                <a href="#">
                                    <li><i class="fa fa-facebook"></i></li>
                                </a>
                                <a href="#">
                                    <li><i class="fa fa-twitter"></i></li>
                                </a>
                                <a href="#">
                                    <li><i class="fa fa-linkedin"></i></li>
                                </a>
                            </ul>
                        </div>
                        <h1>Harsh Kahar</h1>
                        <h2>Technical head</h2>
                        <p>(M) +91-9978198999</p>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12 profile">
                        <div class="img-box">
                            <img src="../public/img-team/neel.jpg" class="img-responsive">
                            <ul class="text-center">
                                <a href="#">
                                    <li><i class="fa fa-facebook"></i></li>
                                </a>
                                <a href="#">
                                    <li><i class="fa fa-twitter"></i></li>
                                </a>
                                <a href="#">
                                    <li><i class="fa fa-linkedin"></i></li>
                                </a>
                            </ul>
                        </div>
                        <h1>Neel Prajapati</h1>
                        <h2>Technical head</h2>
                        <p>(M) +91-9773182021</p>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12 profile">
                        <div class="img-box">
                            <img src="../public/img-team/harsh.jpg" class="img-responsive">
                            <ul class="text-center">
                                <a href="#">
                                    <li><i class="fa fa-facebook"></i></li>
                                </a>
                                <a href="#">
                                    <li><i class="fa fa-twitter"></i></li>
                                </a>
                                <a href="#">
                                    <li><i class="fa fa-linkedin"></i></li>
                                </a>
                            </ul>
                        </div>
                        <h1>Harsh Desai</h1>
                        <h2>Technical head</h2>
                        <p>(M) +91-9924405552</p>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12 profile">
                        <div class="img-box">
                            <img src="../public/img-team/vasu.jpg" class="img-responsive">
                            <ul class="text-center">
                                <a href="#">
                                    <li><i class="fa fa-facebook"></i></li>
                                </a>
                                <a href="#">
                                    <li><i class="fa fa-twitter"></i></li>
                                </a>
                                <a href="#">
                                    <li><i class="fa fa-linkedin"></i></li>
                                </a>
                            </ul>
                        </div>
                        <h1>Vasu Goyal</h1>
                        <h2>Event head</h2>
                        <p>(M) +91-9549384028</p>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12 profile">
                        <div class="img-box">
                            <img src="../public/img-team/meet.jpg" class="img-responsive">
                            <ul class="text-center">
                                <a href="#">
                                    <li><i class="fa fa-facebook"></i></li>
                                </a>
                                <a href="#">
                                    <li><i class="fa fa-twitter"></i></li>
                                </a>
                                <a href="#">
                                    <li><i class="fa fa-linkedin"></i></li>
                                </a>
                            </ul>
                        </div>
                        <h1>Meet Patel</h1>
                        <h2>Event head</h2>
                        <p>(M) +91-9537691019</p>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12 profile">
                        <div class="img-box">
                            <img src="../public/img-team/ashish.jpg" class="img-responsive">
                            <ul class="text-center">
                                <a href="#">
                                    <li><i class="fa fa-facebook"></i></li>
                                </a>
                                <a href="#">
                                    <li><i class="fa fa-twitter"></i></li>
                                </a>
                                <a href="#">
                                    <li><i class="fa fa-linkedin"></i></li>
                                </a>
                            </ul>
                        </div>
                        <h1>Ashish Bhalala</h1>
                        <h2>Event head</h2>
                        <p>(M) +91-9173715710</p>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12 profile">
                        <div class="img-box">
                            <img src="../public/img-team/bhupen.jpg" class="img-responsive">
                            <ul class="text-center">
                                <a href="#">
                                    <li><i class="fa fa-facebook"></i></li>
                                </a>
                                <a href="#">
                                    <li><i class="fa fa-twitter"></i></li>
                                </a>
                                <a href="#">
                                    <li><i class="fa fa-linkedin"></i></li>
                                </a>
                            </ul>
                        </div>
                        <h1>Bhupen Vora</h1>
                        <h2>Publicity head</h2>
                        <p>(M) +91-7623009200</p>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12 profile">
                        <div class="img-box">
                            <img src="../public/img-team/dhaval.jpg" class="img-responsive">
                            <ul class="text-center">
                                <a href="#">
                                    <li><i class="fa fa-facebook"></i></li>
                                </a>
                                <a href="#">
                                    <li><i class="fa fa-twitter"></i></li>
                                </a>
                                <a href="#">
                                    <li><i class="fa fa-linkedin"></i></li>
                                </a>
                            </ul>
                        </div>
                        <h1>Dhaval Solanki</h1>
                        <h2>Publicity head</h2>
                        <p>(M) +91-8511670526</p>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12 profile">
                        <div class="img-box">
                            <img src="../public/img-team/patanahikaunhai.jpg" class="img-responsive">
                            <ul class="text-center">
                                <a href="#">
                                    <li><i class="fa fa-facebook"></i></li>
                                </a>
                                <a href="#">
                                    <li><i class="fa fa-twitter"></i></li>
                                </a>
                                <a href="#">
                                    <li><i class="fa fa-linkedin"></i></li>
                                </a>
                            </ul>
                        </div>
                        <h1>Poojan Patel</h1>
                        <h2>Publicity head</h2>
                        <p>(M) +91-9724163872</p>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12 profile">
                        <div class="img-box">
                            <img src="../public/img-team/anuj.jpg" class="img-responsive">
                            <ul class="text-center">
                                <a href="#">
                                    <li><i class="fa fa-facebook"></i></li>
                                </a>
                                <a href="#">
                                    <li><i class="fa fa-twitter"></i></li>
                                </a>
                                <a href="#">
                                    <li><i class="fa fa-linkedin"></i></li>
                                </a>
                            </ul>
                        </div>
                        <h1>Anuj Verma</h1>
                        <h2>Creative head</h2>
                        <p>(M) +91-8849162357</p>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12 profile">
                        <div class="img-box">
                            <img src="../public/img-team/yebnahipatakaunhai.jpg" class="img-responsive">
                            <ul class="text-center">
                                <a href="#">
                                    <li><i class="fa fa-facebook"></i></li>
                                </a>
                                <a href="#">
                                    <li><i class="fa fa-twitter"></i></li>
                                </a>
                                <a href="#">
                                    <li><i class="fa fa-linkedin"></i></li>
                                </a>
                            </ul>
                        </div>
                        <h1>Jigar Dangar</h1>
                        <h2>Creative head</h2>
                        <p>(M) +91-9727535948</p>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12 profile">
                        <div class="img-box">
                            <img src="../public/img-team/rohan.jpg" class="img-responsive">
                            <ul class="text-center">
                                <a href="#">
                                    <li><i class="fa fa-facebook"></i></li>
                                </a>
                                <a href="#">
                                    <li><i class="fa fa-twitter"></i></li>
                                </a>
                                <a href="#">
                                    <li><i class="fa fa-linkedin"></i></li>
                                </a>
                            </ul>
                        </div>
                        <h1>Rohan Vaghela</h1>
                        <h2>Creative head</h2>
                        <p>(M) +91-8160108978</p>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12 profile">
                        <div class="img-box">
                            <img src="../public/img-team/shivang.jpg" class="img-responsive">
                            <ul class="text-center">
                                <a href="#">
                                    <li><i class="fa fa-facebook"></i></li>
                                </a>
                                <a href="#">
                                    <li><i class="fa fa-twitter"></i></li>
                                </a>
                                <a href="#">
                                    <li><i class="fa fa-linkedin"></i></li>
                                </a>
                            </ul>
                        </div>
                        <h1>Shivang Vyas</h1>
                        <h2>Public relations head</h2>
                        <p>(M) +91-9558608397</p>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12 profile">
                        <div class="img-box">
                            <img src="../public/img-team/aman.jpg" class="img-responsive">
                            <ul class="text-center">
                                <a href="#">
                                    <li><i class="fa fa-facebook"></i></li>
                                </a>
                                <a href="#">
                                    <li><i class="fa fa-twitter"></i></li>
                                </a>
                                <a href="#">
                                    <li><i class="fa fa-linkedin"></i></li>
                                </a>
                            </ul>
                        </div>
                        <h1>Aman Pandey</h1>
                        <h2>Developer</h2>
                        <p>(M) +91-9909792126</p>
                    </div>
                    
                </div>
            </div>

        </div>
    </div>
</section>



<section>
    <div class="container">
        <div class="row">
            <center>
                <div class="home-button" style="margin: 0 5% 18% 5%;">
                    <a class="btn btn-success" href="/" role="button">Go to home</a>
                </div>
            </center>
        </div>
    </div>
</section>