

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta name="author" content="Saurabh Shukla">
    <meta name="description" content="Here's the list of all core-members of Civil Engineering Society, NIT Surat 2021-22">
    <meta name="keywords" content="core-members 202-22, Civil Engineering Society, SVNIT Surat">

    <link rel="shortcut icon" type="image/png" href="../../public/img-tech/favicon.ico">

    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    
    <link rel="stylesheet" href="../public/team-design.css">

    <title><%=title %></title>
</head>
<body>


<section class="team">
    <div class="container">
        <div class="row">

            <div class="col-lg-12">
                <h6 class="description">Core committee members 2021-22</h6>
                <div class="row pt-md">
                    <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12 profile">
                        <div class="img-box">
                            <img src="../public/img-team/yashshah.jpg" class="img-responsive">
                            <ul class="text-center">
                                <a href="#">
                                    <li><i class="fa fa-facebook"></i></li>
                                </a>
                                <a href="#">
                                    <li><i class="fa fa-twitter"></i></li>
                                </a>
                                <a href="#">
                                    <li><i class="fa fa-linkedin"></i></li>
                                </a>
                            </ul>
                        </div>
                        <h1>Yash Shah</h1>
                        <h2>Head</h2>
                        <p>(M) +91-9574447307</p>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12 profile">
                        <div class="img-box">
                            <img src="../public/img-team/shreya.jpg" class="img-responsive">
                            <ul class="text-center">
                                <a href="#">
                                    <li><i class="fa fa-facebook"></i></li>
                                </a>
                                <a href="#">
                                    <li><i class="fa fa-twitter"></i></li>
                                </a>
                                <a href="#">
                                    <li><i class="fa fa-linkedin"></i></li>
                                </a>
                            </ul>
                        </div>
                        <h1>Shreya Gupta</h1>
                        <h2>Co-head</h2>
                        <p>(M) +91-8141507968</p>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12 profile">
                        <div class="img-box">
                            <img src="../public/img-team/pranjal.JPG" class="img-responsive">
                            <ul class="text-center">
                                <a href="#">
                                    <li><i class="fa fa-facebook"></i></li>
                                </a>
                                <a href="#">
                                    <li><i class="fa fa-twitter"></i></li>
                                </a>
                                <a href="#">
                                    <li><i class="fa fa-linkedin"></i></li>
                                </a>
                            </ul>
                        </div>
                        <h1>Pranjal Bhushan</h1>
                        <h2>Co-head</h2>
                        <p>(M) +91-9460561924</p>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12 profile">
                        <div class="img-box">
                            <img src="../public/img-team/vaishnavi.jpg" class="img-responsive">
                            <ul class="text-center">
                                <a href="#">
                                    <li><i class="fa fa-facebook"></i></li>
                                </a>
                                <a href="#">
                                    <li><i class="fa fa-twitter"></i></li>
                                </a>
                                <a href="#">
                                    <li><i class="fa fa-linkedin"></i></li>
                                </a>
                            </ul>
                        </div>
                        <h1>Vaishnavi Kulhade</h1>
                        <h2>Finance head</h2>
                        <p>(M) +91-6264959291</p>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12 profile">
                        <div class="img-box">
                            <img src="../public/img-team/om.jpeg" class="img-responsive">
                            <ul class="text-center">
                                <a href="#">
                                    <li><i class="fa fa-facebook"></i></li>
                                </a>
                                <a href="#">
                                    <li><i class="fa fa-twitter"></i></li>
                                </a>
                                <a href="#">
                                    <li><i class="fa fa-linkedin"></i></li>
                                </a>
                            </ul>
                        </div>
                        <h1>Om Gheewala</h1>
                        <h2>Finance head</h2>
                        <p>(M) +91-7984724841</p>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12 profile">
                        <div class="img-box">
                            <img src="../public/img-team/kartikeya.jpg" class="img-responsive">
                            <ul class="text-center">
                                <a href="#">
                                    <li><i class="fa fa-facebook"></i></li>
                                </a>
                                <a href="#">
                                    <li><i class="fa fa-twitter"></i></li>
                                </a>
                                <a href="#">
                                    <li><i class="fa fa-linkedin"></i></li>
                                </a>
                            </ul>
                        </div>
                        <h1>Kartikeya Bhaira</h1>
                        <h2>Publicity head</h2>
                        <p>(M) +91-9461823485</p>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12 profile">
                        <div class="img-box">
                            <img src="../public/img-team/anjali.jpeg" class="img-responsive">
                            <ul class="text-center">
                                <a href="#">
                                    <li><i class="fa fa-facebook"></i></li>
                                </a>
                                <a href="#">
                                    <li><i class="fa fa-twitter"></i></li>
                                </a>
                                <a href="#">
                                    <li><i class="fa fa-linkedin"></i></li>
                                </a>
                            </ul>
                        </div>
                        <h1>Anjali Agrawal</h1>
                        <h2>Publicity head</h2>
                        <p>(M) +91-6375539892</p>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12 profile">
                        <div class="img-box">
                            <img src="../public/img-team/somesh.jpeg" class="img-responsive">
                            <ul class="text-center">
                                <a href="#">
                                    <li><i class="fa fa-facebook"></i></li>
                                </a>
                                <a href="#">
                                    <li><i class="fa fa-twitter"></i></li>
                                </a>
                                <a href="#">
                                    <li><i class="fa fa-linkedin"></i></li>
                                </a>
                            </ul>
                        </div>
                        <h1>Somesh Patidar </h1>
                        <h2>Publicity head</h2>
                        <p>(M) +91-8989526593</p>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12 profile">
                        <div class="img-box">
                            <img src="../public/img-team/dhruvi.jpeg" class="img-responsive">
                            <ul class="text-center">
                                <a href="#">
                                    <li><i class="fa fa-facebook"></i></li>
                                </a>
                                <a href="#">
                                    <li><i class="fa fa-twitter"></i></li>
                                </a>
                                <a href="#">
                                    <li><i class="fa fa-linkedin"></i></li>
                                </a>
                            </ul>
                        </div>
                        <h1>Dhruvi Inani</h1>
                        <h2>Event head</h2>
                        <p>(M) +91-9328376746</p>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12 profile">
                        <div class="img-box">
                            <img src="../public/img-team/pradeep.jpeg" class="img-responsive">
                            <ul class="text-center">
                                <a href="#">
                                    <li><i class="fa fa-facebook"></i></li>
                                </a>
                                <a href="#">
                                    <li><i class="fa fa-twitter"></i></li>
                                </a>
                                <a href="#">
                                    <li><i class="fa fa-linkedin"></i></li>
                                </a>
                            </ul>
                        </div>
                        <h1>Pradeep Baitha</h1>
                        <h2>Event head</h2>
                        <p>(M) +91-9687992420</p>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12 profile">
                        <div class="img-box">
                            <img src="../public/img-team/chintan_final.jpeg" class="img-responsive">
                            <ul class="text-center">
                                <a href="#">
                                    <li><i class="fa fa-facebook"></i></li>
                                </a>
                                <a href="#">
                                    <li><i class="fa fa-twitter"></i></li>
                                </a>
                                <a href="#">
                                    <li><i class="fa fa-linkedin"></i></li>
                                </a>
                            </ul>
                        </div>
                        <h1>Chintan Patel</h1>
                        <h2>Technical head</h2>
                        <p>(M) +91-7874565574</p>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12 profile">
                        <div class="img-box">
                            <img src="../public/img-team/vardhan.jpg" class="img-responsive">
                            <ul class="text-center">
                                <a href="#">
                                    <li><i class="fa fa-facebook"></i></li>
                                </a>
                                <a href="#">
                                    <li><i class="fa fa-twitter"></i></li>
                                </a>
                                <a href="#">
                                    <li><i class="fa fa-linkedin"></i></li>
                                </a>
                            </ul>
                        </div>
                        <h1>Vardhan Hingonia</h1>
                        <h2>Technical head</h2>
                        <p>(M) +91-8385904444</p>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12 profile">
                        <div class="img-box">
                            <img src="../public/img-team/ashi.jpeg" class="img-responsive">
                            <ul class="text-center">
                                <a href="#">
                                    <li><i class="fa fa-facebook"></i></li>
                                </a>
                                <a href="#">
                                    <li><i class="fa fa-twitter"></i></li>
                                </a>
                                <a href="#">
                                    <li><i class="fa fa-linkedin"></i></li>
                                </a>
                            </ul>
                        </div>
                        <h1>Ashi Singh</h1>
                        <h2>Technical head</h2>
                        <p>(M) +91-6353184221</p>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12 profile">
                        <div class="img-box">
                            <img src="../public/img-team/nishika.jpg" class="img-responsive">
                            <ul class="text-center">
                                <a href="#">
                                    <li><i class="fa fa-facebook"></i></li>
                                </a>
                                <a href="#">
                                    <li><i class="fa fa-twitter"></i></li>
                                </a>
                                <a href="#">
                                    <li><i class="fa fa-linkedin"></i></li>
                                </a>
                            </ul>
                        </div>
                        <h1>Nishika Ratnam</h1>
                        <h2>Creative head</h2>
                        <p>(M) +91-9016382307</p>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12 profile">
                        <div class="img-box">
                            <img src="../public/img-team/prakhar.jpg" class="img-responsive">
                            <ul class="text-center">
                                <a href="#">
                                    <li><i class="fa fa-facebook"></i></li>
                                </a>
                                <a href="#">
                                    <li><i class="fa fa-twitter"></i></li>
                                </a>
                                <a href="#">
                                    <li><i class="fa fa-linkedin"></i></li>
                                </a>
                            </ul>
                        </div>
                        <h1>Prakhar Kureel</h1>
                        <h2>Creative head</h2>
                        <p>(M) +91-9636943900</p>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12 profile">
                        <div class="img-box">
                            <img src="../public/img-team/deep.JPG" class="img-responsive">
                            <ul class="text-center">
                                <a href="#">
                                    <li><i class="fa fa-facebook"></i></li>
                                </a>
                                <a href="#">
                                    <li><i class="fa fa-twitter"></i></li>
                                </a>
                                <a href="#">
                                    <li><i class="fa fa-linkedin"></i></li>
                                </a>
                            </ul>
                        </div>
                        <h1>Deep Vora</h1>
                        <h2>Public relations head</h2>
                        <p>(M) +91-9714774946</p>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12 profile">
                        <div class="img-box">
                            <img src="../public/img-team/akansha.jpg" class="img-responsive">
                            <ul class="text-center">
                                <a href="#">
                                    <li><i class="fa fa-facebook"></i></li>
                                </a>
                                <a href="#">
                                    <li><i class="fa fa-twitter"></i></li>
                                </a>
                                <a href="#">
                                    <li><i class="fa fa-linkedin"></i></li>
                                </a>
                            </ul>
                        </div>
                        <h1>Akanksha Dayal</h1>
                        <h2>Public relations head</h2>
                        <p>(M) +91-9638997236</p>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12 profile">
                        <div class="img-box">
                            <img src="../public/img-team/rutvi.jpg" class="img-responsive">
                            <ul class="text-center">
                                <a href="#">
                                    <li><i class="fa fa-facebook"></i></li>
                                </a>
                                <a href="#">
                                    <li><i class="fa fa-twitter"></i></li>
                                </a>
                                <a href="#">
                                    <li><i class="fa fa-linkedin"></i></li>
                                </a>
                            </ul>
                        </div>
                        <h1>Rutvi Shah</h1>
                        <h2>Magazine head</h2>
                        <p>(M) +91-8154024674</p>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12 profile">
                        <div class="img-box">
                            <img src="../public/img-team/satyam (1).jpg" class="img-responsive">
                            <ul class="text-center">
                                <a href="#">
                                    <li><i class="fa fa-facebook"></i></li>
                                </a>
                                <a href="#">
                                    <li><i class="fa fa-twitter"></i></li>
                                </a>
                                <a href="#">
                                    <li><i class="fa fa-linkedin"></i></li>
                                </a>
                            </ul>
                        </div>
                        <h1>Satyam Rajput</h1>
                        <h2>Magazine head</h2>
                        <p>(M) +91-9558537108</p>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12 profile">
                        <div class="img-box">
                            <img src="../public/img-team/shreya.jpg" class="img-responsive">
                            <ul class="text-center">
                                <a href="#">
                                    <li><i class="fa fa-facebook"></i></li>
                                </a>
                                <a href="#">
                                    <li><i class="fa fa-twitter"></i></li>
                                </a>
                                <a href="https://www.linkedin.com/in/saurabhshukla09/">
                                    <li><i class="fa fa-linkedin"></i></li>
                                </a>
                            </ul>
                        </div>
                        <h1>Shreya Gupta</h1>
                        <h2>Website Manager</h2>
                        <p>(M) +91-8141507968</p>
                    </div>
                    
                </div>
            </div>

        </div>
    </div>
</section>



<section>
    <div class="container">
        <div class="row">
            <center>
                <div class="home-button" style="margin: 0 5% 18% 5%;">
                    <a class="btn btn-success" href="/" role="button">Go to home</a>
                </div>
            </center>
        </div>
    </div>
</section>
