<%- include('partials/header') %>

<div class="container mt-5">

    <div class="row">
      
        <div class="col-sm-9">

            <h1 class="article-title">The Flatiron Building in Manhattan, New York city</h1>
            <p class="display-6 article-subtitle">The distinctive triangular shape of the Flatiron Building, designed by Chicago architect Daniel Burnham and built in 1902, allowed it to fill the wedge-shaped property located at the intersection of Fifth Avenue and Broadway. At 22 stories and 307 feet, the Flatiron was never the city’s tallest building, but always one of its most dramatic-looking, and its popularity with photographers and artists has made it an enduring symbol of New York for more than a century.</p>

            <hr>
            <br>
            <div class="share-button">

                <a href="#"><i class="fas fa-share-alt fa-3x"></i></a>
                <a href="#"><i class="fab fa-facebook fa-3x"></i></a>
                <a href="#"><i class="fab fa-twitter fa-3x"></i></a>
                <a href="#"><i class="fab fa-whatsapp fa-3x"></i></a>
                <a href="#"><i class="fab fa-linkedin fa-3x"></i></a>
            </div>
            <br>
        </div>

        <img class="img-responsive article-image-1" src="../../public/img-article/flatiron-building-image.jpg" alt="dsbcjkdbvbh">


        <div class="col-sm-9">

            <p class="blockquote article-writer"> By - <%=writer %>, B.tech 2nd-year </p>
            <p class="article-date"> <%=date %> </p>

        </div>



        <div class="col-sm-9">

            <p class="article-body">The Flatiron building situated in Manhattan New York city is one of the world’s eyecatching construction which is neither famous for its height characteristics nor prominent for its architectonics, but unquestionably famed because of its space utilisation.</p>

            <p class="article-body">As a civil engineer, it is vital to consider space utilisation, a deciding factor,and undoubtedly Flatiron building is the great illustration for the same.</p>

            <p class="article-body">The Flatiron building occupies the wedge shaped property located at the intersection of two streets giving it a distinctive triangular shape.It was designed by Chicago architect Daniel Burnham and built in 1902.</p>

            <p class="article-body">Where does not rise the question of stability? And here it was obvious about whether it would actually be stable enough to survive. Some early critics referred to “Burnham’s Folly,” claiming that the combination of triangular shape and height would cause the building to fall down.The matter of potentially dangerous wind-tunnel effect created by the triangular building at the intersection of two big streets also arised.</p>

            <img class="img-responsive article-image-2" src="../../public/img-article/Flatiron-Building.jpg" alt="dsbcjkdbvbh">

            <p class="article-body">But its design would make it one of the most unusual looking  steel-framed skyscrapers being constructed at the time. Built around a skeleton of steel, the Flatiron Building is fronted with limestone and terra-cotta and designed in the Beaux-Arts style, Shaped like a perfect right triangle, it measures only six feet across the narrow end.</p>

            <p class="article-body">Despite all the critiques, crowds gathered around to gawk at the Flatiron Building when it was completed, and in the ensuing years it became a frequent sight in photographs, paintings and postcards and one of the most popular symbol of New York city itself.Its enduring popularity helped drive the neighborhood’s transformation into a top destination for high-end restaurants, shopping and sightseeing.</p>


            <br>
            <br>

        </div>



        <br>
        <br>
        <div class="col-sm-9">
            <div class="instagram-plugin">

                <!-- <script src="https://apps.elfsight.com/p/platform.js" defer></script>
                <div class="elfsight-app-ad3a0331-c37d-4329-817d-8e61d7ab62b4"></div> -->
            </div>


            <div class="facebook-plugin">

              <div id="fb-root"></div>
              <script async defer crossorigin="anonymous"
                  src="https://connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v10.0" nonce="5v9pmMK8"></script>
      
                  <div class="fb-page" data-href="https://www.facebook.com/ces.nitsurat" data-tabs="timeline" data-width="" data-height="" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><blockquote cite="https://www.facebook.com/ces.nitsurat" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/ces.nitsurat">Civil Engineering Society, NIT Surat</a></blockquote></div>
            </div>

        </div>
        <br>
        <br>




        <div class="recommended-article-container">

            <h1 class="article-title">Recommended Reads:</h1>
            <hr>


            <div class="row no-gutters horizontal-artical-card" id="article-1">
                <div class="col-md-4">
                  <a href="/ces/articles/Sir-M-Visvesvaraya-The-Father-of-Indian-Engineering"><img src="../../public/img-article/Visvesvaraya.jpg" class="card-img" alt="..."></a>
                </div>
                <div class="col-md-8">
                  <div class="card-body">
                    <p class="card-text"><small class="text-muted">  Aditya Jhajharia, B.tech 2nd-year | February 19, 2021</small></p>
                    <a href="/ces/articles/Sir-M-Visvesvaraya-The-Father-of-Indian-Engineering"><h1 class="card-title">Sir M.Visvesvaraya-The Father of Indian Engineering</h1></a>
                    <p class="card-text">M.Visvesvaraya(15.09.1860 – 14.04.1962) - The 19th Diwan Of Mysore, Honoured With THE BHARAT RATNA, The Knight Commander Of Indian Empire.</p>
                  </div>
                </div>
            </div>


            <div class="row no-gutters horizontal-artical-card" id="article-1">
              <div class="col-md-4">
                <a href="/ces/articles/atal-tunnel-worlds-longest-highway-tunnel"><img src="../../public/img-article/atal-tunnel-3.jpg" class="card-img" alt="..."></a>
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <p class="card-text"><small class="text-muted">  Abhay Singh Tomar, B.tech 2nd-year | February 16, 2021</small></p>
                  <a href="/ces/articles/atal-tunnel-worlds-longest-highway-tunnel"><h1 class="card-title">Atal Tunnel, World’s longest highway tunnel opened in Himachal Pradesh</h1></a>
                  <p class="card-text">The tunnel reduces the road distance by 46 Kms between Manali and Leh and the time by about 4 to 5 hours. A journey from Manali to Lahaul and Spiti Valley would now be covered in a little over 15 minutes..</p>
                </div>
              </div>
          </div>

          </div>



  
    </div>
  </div>






  <%- include('partials/footer') %>