<%- include('partials/header') %>




<header class="header ">
    <div class="header__logo-box">
      <img src="../public/img-tech/logo.jpg" alt="Logo" class="header__logo" style="clip-path: circle(35% at 50% 50%);" />
    </div>

    <div class="header__text-box">
      <h1 class="heading-primary">
      <!--  <span class="heading-primary--main display-1">Kaizen 6.0</span>   -->
        <span class="heading-primary--sub">Civil Engineering Society</span>
      </h1>

      <a href="https://docs.google.com/forms/d/e/1FAIpQLSdBz8N4HIOVU3GCjZ6W5BSfAqfdjFIP3hAV4JSGNNnnPhd8Mw/viewform" class="btn btn--white btn--animated" target="_blank">Mentorship Portal</a
      >
    </div>
  </header>



<main>

  <!-- ABOUT SECTION -->

  <section class="section-about" id="aboUT">
    <div class="u-center-text u-margin-bottom-big">
      <h2 class="heading-primary--main display-3">About Us</h2>
    </div>
    <div class="conatiner">
      <div class="row">
        <div class="col-12 col-sm-12 col-md-6" style="padding-left: 5%;">
          <h1 >
            Civil Engineering Society
          </h1>
          <h4 >
            SVNIT, Surat
          </h4>
          <br>
          <p class="paragraph">
            We are Civil Engineering Society, the oldest student chapter of SVNIT. 
            We aims at providing students with the insights of
            Civil Engineering through a wide range of events, tech-talks, fun activites and workshops, specially
            designed by our team.
          </p>

          <p class="paragraph">
            Our main objective is to keep the students updated about the knowledge of the
            field, thus making it easy for them to decide on their career
            prospects.
          </p>

          <p class="paragraph">
            Kaizen is a major technical event that we organise every year and
            more than 500 students from all across the south Gujarat come over to participate.
          </p>

          <br /><br /><br /><br />

        </div>
        <div class="col-12 col-sm-12 col-md-6" style="padding-right: 5%;">
          <div class="composition">
            <img
              srcset="../public/img-tech/img-4.jpg 300w, ../public/img-tech/img-4.jpg 1000w"
              sizes="(max-width: 56.25em) 20vw, (max-width: 37.5em) 30vw, 300px"
              alt="Photo 1"
              class="composition__photo composition__photo--p1"
              src="../public/img-tech/img-4.jpg"
            />

            <img
              srcset="../public/img-tech/img-2.jpg 300w, ../public/img-tech/img-2.jpg 1000w"
              sizes="(max-width: 56.25em) 20vw, (max-width: 37.5em) 30vw, 300px"
              alt="Photo 2"
              class="composition__photo composition__photo--p2"
              src="../public/img-tech/img-2.jpg"
            />

            <img
              srcset="../public/img-tech/img-3.jpg 300w, ../public/img-tech/img-3.jpg 1000w"
              sizes="(max-width: 56.25em) 20vw, (max-width: 37.5em) 30vw, 300px"
              alt="Photo 3"
              class="composition__photo composition__photo--p3"
              src="../public/img-tech/img-3.jpg"
            />


          </div>
          <br /><br /><br /><br />
        </div>
      </div>
    </div>
  </section>
  <br /><br /><br /><br /><br />



  <section class=" vision-section" id="evenTS">
    <div class="u-center-text u-margin-bottom-big">
      <h2 class="heading-primary--main display-3" style="color:#181818b5">
        Our Vision
      </h2>
    </div>
    <!-- <center>
      <div class="insta-feed-container" style="width: 95%;">
        <script src="https://apps.elfsight.com/p/platform.js" defer></script>
        <div class="elfsight-app-75484fee-3649-4a5f-811a-b8436cd77c4d"></div>
      </div>
    </center> -->

    <div class="container">
      <div class="row">
        <div class="col-sm-4 about-svnit-container">

          <div id="svnit-logo">
            <center><img src="../public/img-tech/vision-icon-png.png" alt="Image" style="width: 85%; margin-bottom: 10%;"></center>  
          </div>
        
      </div>

      <div class="col-sm-8 about-svnit-container">
        <div class="vision-para-container">
          

          <br><br>
          <p class="paragraph" >
            Being one of the oldest student chapters of the institute of National importance, the Civil Engineering Society envisions to positively impact the academic and social lives of the members as well as the associated students and succour them to a brighter future.
          </p>
          <p class="paragraph" >
             We aim to promote collective growth through collaboration among the students and to ensure their holistic development and provide experiential learning platforms in forms of competitions, meetings, and knowledge exchange sessions.
          </p>
          

        </div>
        
      </div>
        
      </div>
    </div>
  
  </section>




  <section class="section-about" id="aboUT">
    <div class="u-center-text u-margin-bottom-big">
      <h2 class="heading-primary--main display-3">Our Mission</h2>
    </div>
    

    <div class="container">
      <div class="row">
        <div class="col-sm-4 about-svnit-container">

            <div id="svnit-logo">
              <center><img src="../public/img-tech/mission-png.png" alt="Image" style="width: 85%; margin-bottom: 10%;"></center>  
            </div>
          
        </div>


        <div class="col-sm-8 about-svnit-container">
          <div class="mission-text-container">
            

            
            <ul>
              <li >To provide an experiential learning platform that ensures technical as well as social advancement and enables the students to excel both in academics and in the corporate world.</li>

              <li >To bring about awareness of the latest trends and technologies of the trade and to organize events, meetings, and useful sessions for the students, thus making it easy for them to decide on their career prospects.</li>

              <li >To promote friendship, establish rules for professional and ethical conduct and to develop social awareness and responsibility among the members.</li>

              <li >To promote the idea of collective learning and collaboration so as to ensure the holistic development of the students</li>

            </ul>

          </div>
          
        </div>
        
      </div>
    </div>

  </section>
  



  <section class=" faculty-section" id="evenTS">
    <div class="u-center-text u-margin-bottom-big">
      <h2 class="heading-primary--main display-3" style="color:#767676b5">
        Faculty Advisors
      </h2>
    </div>
    <!-- <center>
      <div class="insta-feed-container" style="width: 95%;">
        <script src="https://apps.elfsight.com/p/platform.js" defer></script>
        <div class="elfsight-app-75484fee-3649-4a5f-811a-b8436cd77c4d"></div>
      </div>
    </center> -->

    <div class="container">
      <div class="row">
        <div class="col-sm-4">
          <div class="fac-advisors-info">

            <center><img src="../public/img-team/Bandita-Barman.jpeg" alt="Image"></center>
            <br>
            <br>
            <center><h2>Dr. Bandita Barman</h2></center>
            <br>
            <center><h5>Co-Chairman</h5></center>
            <br>
            <center><h4>Assistant Professor </h4></center>
            <center><h4>Civil Engineering Department, SVNIT</h4></center>
          </div>
          
        </div>

        <div class="col-sm-4">
          <div class="fac-advisors-info">

            <center><img src="../public/img-team/Tailor.jpeg" alt="Image" ></center>
            <br>
            <br>
            <center><h2>Dr. Tailor Ravin Maheshkumar</h2></center>
            <br>
            <center><h5>Chairman</h5></center>
            <br>
            <center><h4>Assistant Professor </h4></center>
            <center><h4>Civil Engineering Department, SVNIT</h4></center>
          </div>
          
        </div>
        <div class="col-sm-4">
          <div class="fac-advisors-info">

            <center><img src="../public/img-team/Shruti-Shukla.jpeg" alt="Image" ></center>  
            <br>  
            <br>    
            <center><h2>Dr. Shruti J. Shukla</h2></center>
            <br>
            <center><h5>Co-Chairman</h5></center>
            <br>
            <center><h4>Assistant Professor </h4></center>
            <center><h4>Civil Engineering Department, SVNIT</h4></center>
          </div>
          
        </div>
      </div>
    </div>
  
  </section>



  <section class="section-about" id="aboUT">
    <div class="u-center-text u-margin-bottom-big">
      <h2 class="heading-primary--main display-3">About SVNIT</h2>
    </div>
    

    <div class="container">
      <div class="row">
        <div class="col-sm-4 about-svnit-container">

            <div id="svnit-logo">
              <center><img src="../public/img-tech/svnit-logo.png" alt="Image" style="width: 85%; margin-bottom: 10%;"></center>  
            </div>
          
        </div>


        <div class="col-sm-7 about-svnit-container">
          <div class="about-svnit">
            <h1 >
              Sardar Vallabhbhai National Institute of Technology
            </h1>
            <h4 >
              Surat, Gujarat
            </h4>
            <br>
            <br>

            
            <p class="paragraph">
              SVNIT, aslo known by the name NIT Surat, is a public funded technical institute, established in 1961 by the Government Of India. It is one of the 30 National Institutes of Technology in India recognized by the Indian Government as an Institute of National Importance.
            </p>
            <p class="paragraph">
              For further more informations you can visit the official SVNIT Website. &nbsp;<a href="https://www.svnit.ac.in/" target="_blank">Link >></a>
            </p>

          </div>
          
        </div>
        
      </div>
    </div>

  </section>



</main>

  <%- include('partials/footer') %>