<%- include('partials/header') %>

<div class="container mt-5">

    <div class="row">
      
        <div class="col-sm-9">

            <h1 class="article-title">Infrastructure Development Over the Years</h1>
            <p class="display-6 article-subtitle">Most advanced economies have gone through this period of extreme hardship and intensive infrastructure development </p>

            <hr>
            <br>
           

        <img class="img-responsive article-image-1" src="../../public/img-article/infra1.jpg" alt="dsbcjkdbvbh">


        <div class="col-sm-9">

            <p class="blockquote article-writer"> By - <%=writer %>, B.tech 2nd-year </p>
            <p class="article-date"> <%=date %> </p>

        </div>



        <div class="col-sm-9">

            <p class="article-body">Infrastructure development is the services provided for the economic and life 
quality improvement by the means of construction of required amenities. This 
could be considered as the sector which is responsible for the country’s overall 
development and plays a major role in depicting the economic status of the same. 
Most advanced economies have gone through this period of extreme hardship and 
intensive infrastructure development which improves the competitiveness and 
efficacity of the region.
                </p>

            <p class="article-body">Infrastructure includes types such as 
Transportation, Energy, Water 
transportation, Green Infrastructure, 
Digital Infrastructure, Social Infrastructure, 
Government Services, and resilience.
This sector has a great responsibility to 
promote the development of India as a 
whole and enjoys the in-depth focus of the 
Government on developing policies that 
will ensure the long-term construction of 
world-class infrastructure in the country.
                </p>


    
            <p class="article-body" style="font-weight:bolder">Past</p>

      

            <p class="article-body">Over the years, we have seen major changes in infrastructure development 
globally, as the countries are thriving economically and socially as well. This 
started from the humans' most basic necessity for shelter and transportation. The 
early infrastructure consisted of just roads and canals and some shelter support 
either natural or made by crude materials. 
                </p>


    <img class="img-responsive article-image-2" src="../../public/img-article/infra 2.jpeg" alt="dsbcjkdbvbh">
    
            <p class="article-body">The first roads were game trails. The first paved roads were built around 4000 
BCE and the brick-paved roads were built in the Indus Valley Civilization. Then 
we saw the roads evolving from pavements to stone and rocky blocks and the
present roads built by bitumen and aggregates.              
            </p>
            
  
            
            <p class="article-body">Canals were used to transport 
water which was used in 
irrigation. Later these also 
evolved into complex 
networks according to the 
requirements.
The earliest railways were 
used in mines. Later it was 
used as a common means of 
transport. By this time the 
railway tracks were evolving 
where the timber sleepers were getting replaced by concrete ones.             
            </p>

<p class="article-body" style="font-weight:bolder">Present</p>


            <p class="article-body">In the present we witness various flyovers and highways, providing us with ultra comfort in driving with an amazing layout of road networks. Similarly, canal 
networks also have moved forward to pipeline networks providing a door-to-door 
kind of water supply. 
                </p>


 <img class="img-responsive article-image-2" src="../../public/img-article/infra 3.jpeg" alt="dsbcjkdbvbh">
 
   <p class="article-body">Even the shelter forms have evolved to a 
great extent where we see sky-high 
buildings, better known as skyscrapers. A 
skyscraper is a relatively tall building of 
many stories and an exceptional height 
supported by a framework of girders.
The railways today have many forms. In 
our country, the many long-distance trains 
use conventional concrete sleepers and 
metro trains have ballastless concrete 
sleepers whereas many new techs such 
monorails and electrified passenger tracks 
of bullet trains are getting into the picture 
eventually
                </p>
                
                




            <p class="article-body" style="font-weight:bolder">Future</p>
            
     

            <p class="article-body">Looking into the future aspect, infrastructure has an infinite scope of 
development. The highways and flyovers that we drive on would be converted 
into driverless technology which would provide a hazel-free driving experience 
having automated lane, distance, and time compression according to the vehicle 
and traffic. We can also witness the new generation of transportation of Tube 
networks with highly efficient and least time-consuming technology. 
                </p>
                
                
                            <img class="img-responsive article-image-2" src="../../public/img-article/infra 4.png" alt="dsbcjkdbvbh">
                            
                            
            <p class="article-body">The irrigation and harvesting system would also have drastic change with the 
appearance of atmospheric water harvesting providing us with fresh and clean 
water without dealing with the complicated steel pipe networks.
The energy form would be based on a space power station providing sustainable 
and non-polluting energy for life. And along with this would evolve the massenergy storage. Things like drone delivery and smart Buildings are very near to 
our future already. And who knows maybe we can even see rotating buildings 
around us shortly with the never-ending exploration and development of 
mankind.
                    </p>
                    
            <p class="article-body">In the railways sector, we can already 
see an upcoming roar of hyperloop 
technology. Hyperloop is a concept 
developed by Space X and Tesla 
founder Elon Musk for ultra-fast 
inter-city travel. It meets the demand 
for faster and more sustainable travel. 
It is a high-speed commuter and 
freight transport system that could 
reach speeds of around 750 mph (1,210 kph). 
</p>

            
 <p class="article-body">The world is changing, and once we are together, we are not ready to face the 
many challenges that lie ahead. The Global Infrastructure Vision for a Better 
Future in a World Where Sustainable, Strong and Inclusive Infrastructure applies 
to all people; this will not only benefit positive social and environmental 
outcomes but also have the potential to bring about long-term economic outcomes 
compared to the current situation.
High-risk trends (i.e., low readiness / high impact) are those found in the lower 
right corner of the chart. As can be seen, there is consensus on the responses to 
all mature and emerging markets in terms of trends that present significant risks 
to the industry and are Rising climate change, Rising natural disasters and strong 
infrastructure, Aging infrastructure, Urban migration, and population growth.
</p>








            <br>
            <br>

        </div>




        <br>
    
        <br>


        <div class="recommended-article-container">

            <h1 class="article-title">Recommended Reads:</h1>
            <hr>


            <div class="row no-gutters horizontal-artical-card" id="article-1">
                <div class="col-md-4">
                  <a href="/ces/articles/smart-transport"><img src="../../public/img-article/transport1.jpg" class="card-img" alt="..."></a>
                </div>
                <div class="col-md-8">
                  <div class="card-body">
                    <p class="card-text"><small class="text-muted">Pushpendra Bhakar, Ganesh, Kripal Singh, Bhavesh Jangid, B.tech 2nd-year | January 31, 2022</small></p>
                    <a href="/ces/articles/smart-transport"><h1 class="card-title">Smart Transportation</h1></a>
                    <p class="card-text">Good smart transportation refer to the integrated application of modern technology and management strategies into transportation system.</p>
                  </div>
                </div>
            </div>


   

          </div>



  
    </div>
  </div>






  <%- include('partials/footer') %>
