<%- include('partials/header') %>


<header class="header-managerial container-fluid">
  <div class="header__logo-box">
    <img src="../../public/img-tech/logo.jpg" alt="Logo" class="header__logo" style="clip-path: circle(35% at 50% 50%);" />
  </div>

  <div class="header__text-box">
    <h1 class="heading-primary">
      <span class="heading-primary--main display-3">Managerial Events</span>
    </h1>
    <br>
    <a href="#" class="btn btn--white btn--animated"
      >Registration closed!</a>
  </div>
</header>






  <main>
    <div class="container">
      <div class="row">
        <div class="col-12 col-md-6 col-lg-4">
          <div class="card grid-sys">
            <div class="card__side card__side--front">
              <div class="card__picture card__picture--8">&nbsp;</div>
              <h4 class="card__heading">
                <span class="card__heading-span card__heading-span--1"
                  >Bidwiser</span
                >
              </h4>
              <div class="card__details">
                <ul>
                  <li>15-16 FEB</li>
                  <li>Old CRC</li>
                  <li>PRIZE MONEY</li>
                </ul>
              </div>
            </div>
            <div class="card__side card__side--back card__side--back-1">
              <div class="card__cta">
                <a href="pdfs/BID WISER.docx" class="btn btn--white"
                  >See rules!</a
                ><br /><br />
                
              </div>
            </div>
          </div>
          <br /><br />
        </div>

        <div class="col-12 col-md-6 col-lg-4">
          <div class="card grid-sys">
            <div class="card__side card__side--front">
              <div class="card__picture card__picture--9">&nbsp;</div>
              <h4 class="card__heading">
                <span class="card__heading-span card__heading-span--2"
                  >Mock Placement</span
                >
              </h4>
              <div class="card__details">
                <ul>
                  <li>15-16 FEB</li>
                  <li>Old CRC</li>
                  <li>PRIZE MONEY</li>
                </ul>
              </div>
            </div>
            <div class="card__side card__side--back card__side--back-2">
              <div class="card__cta">
                <a href="pdfs/MOCK_PLACEMENT.docx" class="btn btn--white"
                  >See rules!</a
                ><br /><br />
              </div>
            </div>
          </div>
          <br /><br />
        </div>

        <div class="col-12 col-md-6 col-lg-4">
          <div class="card grid-sys">
            <div class="card__side card__side--front">
              <div class="card__picture card__picture--10">&nbsp;</div>
              <h4 class="card__heading">
                <span class="card__heading-span card__heading-span--3"
                  >Woodstock</span
                >
              </h4>
              <div class="card__details">
                <ul>
                  <li>15-16 FEB</li>
                  <li>Old CRC</li>
                  <li>PRIZE MONEY</li>
                </ul>
              </div>
            </div>
            <div class="card__side card__side--back card__side--back-3">
              <div class="card__cta">
                <a href="pdfs/WOODSTOCK.docx" class="btn btn--white"
                  >See rules!</a
                ><br /><br />
                
              </div>
            </div>
          </div>
          <br /><br />
        </div>


        <div class="col-12 col-md-6 col-lg-4">
          <div class="card grid-sys">
            <div class="card__side card__side--front">
              <div class="card__picture card__picture--12">&nbsp;</div>
              <h4 class="card__heading">
                <span class="card__heading-span card__heading-span--2"
                  >Treasure Hunt</span
                >
              </h4>
              <div class="card__details">
                <ul>
                  <li>15-16 FEB</li>
                  <li>Old CRC</li>
                  <li>PRIZE MONEY</li>
                </ul>
              </div>
            </div>
            <div class="card__side card__side--back card__side--back-2">
              <div class="card__price-box">
                  
                  <p class="card__price-value">ON THE SPOT REGISTRATIONS!!</p>
              </div>
              
            </div>
          </div>
          <br /><br />
        </div>
      </div>
    </div>

    <div class="container"><div class="row"></div></div>
  </main>




  <%- include('partials/footer') %>