<%- include('partials/header') %>


<header class="header-technical container-fluid">
    <div class="header__logo-box">
      <img src="../../public/img-tech/logo.jpg" alt="Logo" class="header__logo" style="clip-path: circle(35% at 50% 50%);" />
    </div>

    <div class="header__text-box">
      <h1 class="heading-primary">
        <span class="heading-primary--main display-3">Technical Events</span>
      </h1>
      <br>
      <a href="#" class="btn btn--white btn--animated"
        >Registration closed!</a>
  <br><br><br>
      <!-- <a href="https://docs.google.com/forms/d/e/1FAIpQLSedC83X744cfr6exnKu9nBx1fTqmtyLUCzK2DPz3PWH1DHZpg/viewform?usp=sf_link" class="btn btn--white btn--animated"
        >Revit Workshop Reg.</a> -->
    </div>
  </header>




  <main>
    <div class="container">
      <div class="row">
        <div class="col-12 col-md-6 col-lg-4">
          <div class="card">
            <div class="card__side card__side--front">
              <div class="card__picture card__picture--13">&nbsp;</div>
              <h4 class="card__heading">
                <span class="card__heading-span card__heading-span--1"
                  >Escape Plan</span
                >
              </h4>
              <div class="card__details">
                <ul>
                  <li>15-16 FEB</li>
                  <li>Old CRC</li>
                  <li>PRIZE MONEY</li>
                </ul>
              </div>
            </div>
            <div class="card__side card__side--back card__side--back-1">
              <div class="card__cta">
                
                <a
                  href="pdfs/ESCAPE PLAN.docx"
                  class="btn btn--white"
                  download
                  >See rules!</a
                ><br /></div>
            </div>
          </div>
          <br /><br />
        </div>

        <div class="col-12 col-md-6 col-lg-4">
          <div class="card">
            <div class="card__side card__side--front">
              <div class="card__picture card__picture--14">&nbsp;</div>
              <h4 class="card__heading">
                <span class="card__heading-span card__heading-span--2"
                  >Plan your Route</span
                >
              </h4>
              <div class="card__details">
                <ul>
                  <li>15-16 FEB</li>
                  <li>Old CRC</li>
                  <li>PRIZE MONEY</li>
                </ul>
              </div>
            </div>
            <div class="card__side card__side--back card__side--back-2">
              <div class="card__cta">
                
                <a href="pdfs/plan your route.docx" class="btn btn--white" download>See rules!</a
                ><br />
               </div>
            </div>
          </div>
          <br /><br />
        </div>

        <div class="col-12 col-md-6 col-lg-4">
          <div class="card">
            <div class="card__side card__side--front">
              <div class="card__picture card__picture--15">&nbsp;</div>
              <h4 class="card__heading">
                <span class="card__heading-span card__heading-span--3"
                  >Build Up</span
                >
              </h4>
              <div class="card__details">
                <ul>
                  <li>15-16 FEB</li>
                  <li>Old CRC</li>
                  <li>PRIZE MONEY</li>
                </ul>
              </div>
            </div>
            <div class="card__side card__side--back card__side--back-3">
              <div class="card__cta">
                
                <a
                  href="pdfs/BUILD UP.docx"
                  class="btn btn--white"
                  download
                  >See rules!</a
                ><br />
               </div>
            </div>
          </div>
          <br /><br />
        </div>

       

        <div class="col-12 col-md-6 col-lg-4">
          <div class="card">
            <div class="card__side card__side--front">
              <div class="card__picture card__picture--17">&nbsp;</div>
              <h4 class="card__heading">
                <span class="card__heading-span card__heading-span--2"
                  >Fortius Fort</span
                >
              </h4>
              <div class="card__details">
                <ul>
                  <li>15-16 FEB</li>
                  <li>Old CRC</li>
                  <li>PRIZE MONEY</li>
                </ul>
              </div>
            </div>
            <div class="card__side card__side--back card__side--back-2">
              <div class="card__cta">
                
                <a
                  href="pdfs/FORTIUS FORT.docx"
                  class="btn btn--white"
                  >See rules!</a
                ><br /></div>
            </div>
          </div>
          <br /><br />
        </div>

        <div class="col-12 col-md-6 col-lg-4">
          <div class="card">
            <div class="card__side card__side--front">
              <div class="card__picture card__picture--18">&nbsp;</div>
              <h4 class="card__heading">
                <span class="card__heading-span card__heading-span--3"
                  >Revit Workshop</span
                >
              </h4>
              <div class="card__details">
                <ul>
                  <li>15-16 FEB</li>
                  <li>Old CRC</li>
                </ul>
              </div>
            </div>
            <div class="card__side card__side--back card__side--back-3">
              <div class="card__cta">
                
                <a href="#" class="btn btn--white" download>See Info!</a
                ><br /></div>
            </div>
          </div>
          <br /><br />
        </div>

        
      </div>
    </div>
  </main>



  
  <%- include('partials/footer') %>