<%- include('partials/header') %>

<header class="header-kaizen-2020 container-fluid">
    <div class="header__logo-box">
      <img src="../public/img-tech/logo.jpg" alt="Logo" class="header__logo" style="clip-path: circle(35% at 50% 50%);" />
    </div>

    <div class="header__text-box">
      <h1 class="heading-primary">
        <span class="heading-primary--main display-3">Kaizen 2020</span>
      </h1>
      <br>
      <a href="#" class="btn btn--white btn--animated"
        >Registration closed!</a>
  <br><br><br>
      <!-- <a href="#" class="btn btn--white btn--animated"
        >Revit Workshop Reg.</a> -->
    </div>
  </header>


  <main>

    <section class="section-about" id="aboUT">
        <div class="u-center-text u-margin-bottom-big">
          <h2 class="heading-primary--main display-4">Events</h2>
        </div>
        

        <div class="container">
          <div class="row">
            <div class="col-12 col-sm-12 col-md-4">
              <div class="feature-box">
                <div class="event-icon-container">

                  <img src="../public/img-tech/technical-support.png" alt="technical-logo" >
                </div>
                <h3 class="heading-tertiary u-margin-bottom-small">
                  Technical Events
                </h3>
                <p class="feature-box__text">
                  The human spirit must prevail over technology.
                </p>
                <p>–Albert Einstein</p>
                <br />
                <a href="/events/kaizen-2020/tech-events" class="btn btn--green">SHOW MORE</a>
              </div>
              <br /><br />
            </div>
  
            <div class="col-12 col-sm-12 col-md-4">
              <div class="feature-box">
                <div class="event-icon-container">

                  <img src="../public/img-tech/team-leader.png" alt="managerial-event-logo">
                </div>
                <h3 class="heading-tertiary u-margin-bottom-small">
                  Managerial Events
                </h3>
                <p class="feature-box__text">
                  Management is, above all, a practice where art, science, and
                  craft meet.
                </p>
                <p>- Henry Mintzberg</p>
                <br />
                <a href="/events/kaizen-2020/managerial-events" class="btn btn--green">SHOW MORE</a>
              </div>
              <br /><br />
            </div>
  
            <div class="col-12 col-sm-12 col-md-4">
              <div class="feature-box">
                <div class="event-icon-container">

                  <img src="../public/img-tech/dance.png" alt="informal-logo">
                </div>
                <h3 class="heading-tertiary u-margin-bottom-small">
                  Informals
                </h3>
                <p class="feature-box__text">
                  Just play. Have fun. Enjoy the game.
                </p>
                <br />
                <p>- Michael Jordan</p>
                <br />
                <a href="/events/kaizen-2020/informal-events" class="btn btn--green">SHOW MORE</a>
              </div>
              <br /><br />
            </div>
            
            

            
          </div>
        </div>

      </section>
    

  </main>



  <%- include('partials/footer') %>