<%- include('partials/header') %>


<header class="header-managerial-2021 container-fluid">
  <div class="header__logo-box">
    <img src="../../public/img-tech/logo.jpg" alt="Logo" class="header__logo" style="clip-path: circle(35% at 50% 50%);" />
  </div>

  <div class="header__text-box">
    <h1 class="heading-primary">
      <span class="heading-primary--main display-3">Managerial Events</span>
    </h1>
    <br>
    <a href="#" class="btn btn--white btn--animated"
      >Registration closed!</a>
  </div>
</header>






  <main>
    <div class="container">
      <div class="row">
        <div class="col-12 col-md-6 col-lg-4">
          <div class="card grid-sys">
            <div class="card__side card__side--front">
              <div class="card__picture card__picture--108">&nbsp;</div>
              <h4 class="card__heading">
                <!-- <span class="card__heading-span card__heading-span--1"
                  >Bidwiser</span
                > -->
              </h4>
              <div class="card__details">
                <ul>
                  <li>13-14 FEB</li>
                  <li>Google Meet</li>
                  <li>TOTAL PRIZE WORTH <br> &#8377; 1500</li>
                </ul>
              </div>
            </div>
            <div class="card__side card__side--back card__side--back-1">
              <div class="card__cta">
                <a href="../../public/pdfs/COLLEGE STARTUP.pptx" class="btn btn--white" target="_blank"
                  >See Info!</a
                ><br /><br />
                
              </div>
            </div>
          </div>
          <br /><br />
        </div>

        <div class="col-12 col-md-6 col-lg-4">
          <div class="card grid-sys">
            <div class="card__side card__side--front">
              <div class="card__picture card__picture--109">&nbsp;</div>
              <h4 class="card__heading">
                <!-- <span class="card__heading-span card__heading-span--2"
                  >Mock Placement</span
                > -->
              </h4>
              <div class="card__details">
                <ul>
                  <li>13-14 FEB</li>
                  <li>Google Meet</li>
                  <li>TOTAL PRIZE WORTH <br> &#8377; 1500</li>
                </ul>
              </div>
            </div>
            <div class="card__side card__side--back card__side--back-2">
              <div class="card__cta">
                <a href="../../public/pdfs/Disseminate SOMRAS.pptx" class="btn btn--white"
                  >See Info!</a
                ><br /><br />
              </div>
            </div>
          </div>
          <br /><br />
        </div>

        <div class="col-12 col-md-6 col-lg-4">
          <div class="card grid-sys">
            <div class="card__side card__side--front">
              <div class="card__picture card__picture--110">&nbsp;</div>
              <h4 class="card__heading">
                <!-- <span class="card__heading-span card__heading-span--3"
                  >Woodstock</span
                > -->
              </h4>
              <div class="card__details">
                <ul>
                  <li>13-14 FEB</li>
                  <li>Google Meet</li>
                  <li>TOTAL PRIZE WORTH <br> &#8377; 1500</li>
                </ul>
              </div>
            </div>
            <div class="card__side card__side--back card__side--back-3">
              <div class="card__cta">
                <a href="../../public/pdfs/TEAM UP FINAL.pptx" class="btn btn--white"
                  >See Info!</a
                ><br /><br />
                
              </div>
            </div>
          </div>
          <br /><br />
        </div>



        <div class="col-12 col-md-6 col-lg-4">
          <div class="card grid-sys">
            <div class="card__side card__side--front">
              <div class="card__picture card__picture--120">&nbsp;</div>
              <h4 class="card__heading">
                <!-- <span class="card__heading-span card__heading-span--3"
                  >Woodstock</span
                > -->
              </h4>
              <div class="card__details">
                <ul>
                  <li>13-14 FEB</li>
                  <li>Google Meet</li>
                  <li>TOTAL PRIZE WORTH <br> &#8377; 1500</li>
                </ul>
              </div>
            </div>
            <div class="card__side card__side--back card__side--back-3">
              <div class="card__cta">
                <a href="../../public/pdfs/business-battle.pptx" class="btn btn--white" target="_blank"
                  >See Info!</a
                ><br /><br />
                
              </div>
            </div>
          </div>
          <br /><br />
        </div>




        <div class="col-12 col-md-6 col-lg-4">
          <div class="card grid-sys">
            <div class="card__side card__side--front">
              <div class="card__picture card__picture--112">&nbsp;</div>
              <h4 class="card__heading">
                <!-- <span class="card__heading-span card__heading-span--2"
                  >Treasure Hunt</span
                > -->
              </h4>
              <div class="card__details">
                <ul>
                  <li>13-14 FEB</li>
                  <li>Google Meet</li>
                  <li>TOTAL PRIZE WORTH <br> &#8377; 1500</li>
                </ul>
              </div>
            </div>
            <div class="card__side card__side--back card__side--back-2">

              <div class="card__cta">
                <a href="../../public/pdfs/structure-storm.pdf" class="btn btn--white" target="_blank"
                  >See Info!</a
                ><br /><br />
                
              </div>

              <!-- <div class="card__price-box">
                  
                  <p class="card__price-value">ON THE SPOT REGISTRATIONS!!</p>
              </div> -->
              
            </div>
          </div>
          <br /><br />
        </div>
      </div>
    </div>

    <div class="container"><div class="row"></div></div>
  </main>




  <%- include('partials/footer') %>