<%- include('partials/header') %>


<header class="header-technical-2021 container-fluid">
    <div class="header__logo-box">
      <img src="../../public/img-tech/logo.jpg" alt="Logo" class="header__logo" style="clip-path: circle(35% at 50% 50%);" />
    </div>

    <div class="header__text-box">
      <h1 class="heading-primary">
        <span class="heading-primary--main display-3">Technical Events</span>
      </h1>
      <br>
      <a href="#" class="btn btn--white btn--animated"
        >Registration closed!</a>
  <br><br><br>
      <!-- <a href="#" class="btn btn--white btn--animated"
        >Revit Workshop Reg.</a> -->
    </div>
  </header>




  <main>
    <div class="container">
      <div class="row">
        <div class="col-12 col-md-6 col-lg-4">
          <div class="card">
            <div class="card__side card__side--front">
              <div class="card__picture card__picture--113">&nbsp;</div>
              <h4 class="card__heading">
                <!-- <span class="card__heading-span card__heading-span--1"
                  >Project management</span
                > -->
              </h4>
              <div class="card__details">
                <ul>
                  <li>13-14 FEB</li>
                  <li>Google Meet</li>
                  <li>TOTAL PRIZE WORTH <br> &#8377; 1500</li>
                </ul>
              </div>
            </div>
            <div class="card__side card__side--back card__side--back-1">
              <div class="card__cta">
                
                <a
                  href="../../public/pdfs/PROJECT MANAGEMENT TRAIL ROUND.pdf"
                  class="btn btn--white"
                  target="_blank"
                  >See Info!</a
                ><br /></div>
            </div>
          </div>
          <br /><br />
        </div>

        <div class="col-12 col-md-6 col-lg-4">
          <div class="card">
            <div class="card__side card__side--front">
              <div class="card__picture card__picture--114">&nbsp;</div>
              <h4 class="card__heading">
                <!-- <span class="card__heading-span card__heading-span--2"
                  >Surv-x-cel</span
                > -->
              </h4>
              <div class="card__details">
                <ul>
                  <li>13-14 FEB</li>
                  <li>Google Meet</li>
                  <li>TOTAL PRIZE WORTH <br> &#8377; 1500</li>
                </ul>
              </div>
            </div>
            <div class="card__side card__side--back card__side--back-2">
              <div class="card__cta">
                
                <a href="../../public/pdfs/surv-x-cel.pptx" class="btn btn--white" target="_blank">See Info!</a
                ><br />
               </div>
            </div>
          </div>
          <br /><br />
        </div>

        <div class="col-12 col-md-6 col-lg-4">
          <div class="card">
            <div class="card__side card__side--front">
              <div class="card__picture card__picture--115">&nbsp;</div>
              <h4 class="card__heading">
                <!-- <span class="card__heading-span card__heading-span--3"
                  >Build your campus</span
                > -->
              </h4>
              <div class="card__details">
                <ul>
                  <li>13-14 FEB</li>
                  <li>Google Meet</li>
                  <li>TOTAL PRIZE WORTH <br> &#8377; 1500</li>
                </ul>
              </div>
            </div>
            <div class="card__side card__side--back card__side--back-3">
              <div class="card__cta">
                
                <a
                  href="../../public/pdfs/build your smart campus.pptx"
                  class="btn btn--white"
                  target="_blank"
                  >See Info!</a
                ><br />
               </div>
            </div>
          </div>
          <br /><br />
        </div>

       

        <div class="col-12 col-md-6 col-lg-4">
          <div class="card">
            <div class="card__side card__side--front">
              <div class="card__picture card__picture--117">&nbsp;</div>
              <h4 class="card__heading">
                <!-- <span class="card__heading-span card__heading-span--2"
                  >Engineer it</span
                > -->
              </h4>
              <div class="card__details">
                <ul>
                  <li>13-14 FEB</li>
                  <li>Google Meet</li>
                  <li>TOTAL PRIZE WORTH <br> &#8377; 1500</li>
                </ul>
              </div>
            </div>
            <div class="card__side card__side--back card__side--back-2">
              <div class="card__cta">
                
                <a
                  href="../../public/pdfs/Engineer it.pptx"
                  class="btn btn--white"
                  target="_blank"
                  >See Info!</a
                ><br /></div>
            </div>
          </div>
          <br /><br />
        </div>



        <!-- <div class="col-12 col-md-6 col-lg-4">
          <div class="card grid-sys">
            <div class="card__side card__side--front">
              <div class="card__picture card__picture--112">&nbsp;</div>
              <h4 class="card__heading">
                

              </h4>
              <div class="card__details">
                <ul>
                  <li>13-14 FEB</li>
                  <li>Google Meet</li>
                  <li>TOTAL PRIZE WORTH <br> &#8377; 1500</li>
                </ul>
              </div>
            </div>
            <div class="card__side card__side--back card__side--back-2">

              <div class="card__cta">
                <a href="../../public/pdfs/structure-storm.pdf" class="btn btn--white" target="_blank"
                  >See Info!</a
                ><br /><br />
                
              </div>

              
              
            </div>
          </div>
          <br /><br />
        </div> -->





        <!-- <div class="col-12 col-md-6 col-lg-4">
          <div class="card">
            <div class="card__side card__side--front">
              <div class="card__picture card__picture--118">&nbsp;</div>
              <h4 class="card__heading">
                <span class="card__heading-span card__heading-span--3"
                  >Revit Workshop</span
                >
              </h4>
              <div class="card__details">
                <ul>
                  <li>13-14 FEB</li>
                  <li>Google Meet</li>
                </ul>
              </div>
            </div>
            <div class="card__side card__side--back card__side--back-3">
              <div class="card__cta">
                
                <a href="#" class="btn btn--white" download>See Info!</a
                ><br /></div>
            </div>
          </div>
          <br /><br />
        </div> -->

        
      </div>
    </div>
  </main>



  
  <%- include('partials/footer') %>