<%- include('partials/header') %>

    <div class="container mt-5">

        <div class="row">

            <div class="col-sm-9">

                <h1 class="article-title">A visual history of skyscrapers [infographic]</h1>
                <p class="display-6 article-subtitle">As the population density of urban areas has increased, so has the
                    need for buildings that rise rather than spread. The skyscraper, which was originally a form of
                    commercial architecture, has increasingly been used for residential purposes as well.</p>

                <hr>
                <br>
                <div class="share-button">

                    <a href="#"><i class="fas fa-share-alt fa-3x"></i></a>
                    <a href="#"><i class="fab fa-facebook fa-3x"></i></a>
                    <a href="#"><i class="fab fa-twitter fa-3x"></i></a>
                    <a href="#"><i class="fab fa-whatsapp fa-3x"></i></a>
                    <a href="#"><i class="fab fa-linkedin fa-3x"></i></a>
                </div>
                <br>
            </div>

            <img class="img-responsive article-image-1" src="../../public/img-article/skyscraper.jpg" alt="dsbcjkdbvbh">



            <div class="col-sm-9">

                <p class="blockquote article-writer"> By - <%=writer %>, B.tech 2nd-year </p>
                <p class="article-date">
                    <%=date %>
                </p>

            </div>


            <div class="col-sm-9">

                <p class="article-body">Where did the structural capability for skyscrapers come from? The 1860s saw the
                    refinement of the Bessamer process, or a steel-making process, now largely superseded, in which
                    carbon, silicon, and other impurities are removed from molten pig iron by oxidation in a blast of
                    air in a special tilting retort, pushing skyscraper construction into unstoppable motion. As steel
                    is stronger and lighter in weight than iron, the use of a steel frame made possible the construction
                    of truly tall buildings. (The passenger elevator, so essential to the skyscraper, was originally
                    designed by Elisha Otis and first installed in a building in 1857.)</p>

                <p class="article-body">In history, the question of a single definitive “first skyscraper” was debated
                    throughout the 20th century. Yet indisputably, the Chicago Home Insurance Building, built in 1884-5,
                    is considered to be one of the first modern skyscrapers. Designed by William Le Baron Jenney and
                    standing ten stories tall, the Home Insurance Building was one of the first structures of its time
                    to be supported by a fireproof structural steel and metal frame on both the inside and outside of
                    the building.</p>

                <img class="img-responsive article-image-2" src="../../public/img-article/Home_Insurance_Building.jfif"
                    alt="dsbcjkdbvbh">

                <p class="article-body">Following the construction of the Home Insurance Building, skyscrapers have
                    continuously cropped up all across the globe, from Russia to France, New York to Dubai, and more.
                    While skyscraper construction has only been possible for approximately the past one hundred and
                    fifty years, the advancements achieved in the field have been astronomical. In 1885, the tallest
                    building in the world (the aforementioned Home Insurance Building) stood at 180 feet. In 2020, the
                    tallest building in the world, Dubai’s Burj Khalifa, stands at 2,722 feet, including the height of
                    its spire.</p>

                <p class="article-body">The infographic below details an introductory history to the architectural
                    construction of skyscrapers. Each building is hyperlinked with more information on the history
                    behind the movements, history, and more behind these feats of architecture.</p>

                <img class="img-responsive article-image-2" src="../../public/img-article/architectural-history.jpg"
                    alt="dsbcjkdbvbh">
                <img class="img-responsive article-image-2" src="../../public/img-article/architectural-history2.png"
                    alt="dsbcjkdbvbh">

                <br>
                <br>
                <br>

                <p class="article-body" style="font-weight:bolder">Burj Khalifa : THE TALLEST SKYSCRAPER</p>

                <img class="img-responsive article-image-2" src="../../public/img-article/burj-khalifa.jpg"
                    alt="dsbcjkdbvbh">


                <p class="article-body"> The Burj Khalifa known as the Burj Dubai prior to its inauguration in 2010, is
                    a skyscraper in dubai united states emirates With a total height of 829.8 m (2,722 ft, just over
                    half a mile) and a roof height (excluding antenna , but including a 244 m spire of 828 m (2,717 ft.)
                    the Burj Khalifa has been the tallest structure and building in the world since its topping out in
                    2009.</p>

                <p class="article-body">Construction of the Burj Khalifa began in 2004, with the exterior completed five
                    years later in 2009. The primary structure is reinforced concrete. The building was opened in 2010
                    as part of a new development called downtown dubai. It is designed to be the centrepiece of
                    large-scale, mixed-use development.
                </p>

                <p class="article-body">The decision to construct the building is based on the government's decision to
                    diversify from an oil-based economy, and for Dubai to gain international recognition. The building
                    was originally named Burj Dubai but was renamed in honour of the ruler of Abu dhabi and president of
                    the United Arab Emirates, khalifa bin zayed Al Nahyan Abu Dhabi and the UAE government lent Dubai
                    money to pay its debts. The building broke numerous height records, including its designation as the
                    tallest building in the world.
                </p>


                <p class="article-body" style="font-weight:bolder">Records on the name of Burj khalifa</p>

                <ul>
                    <li>
                        <p class="article-body">Tallest existing structure: 829.8 m (2,722 ft) (previously KVLY-TV mast–
                            628.8 m or 2,063 ft)</p>
                    </li>
                    <li>
                        <p class="article-body">Tallest structure ever built: 829.8 m (2,722 ft) (previously Warsaw
                            radio mast– 646.38 m or 2,121 ft)
                        </p>
                    </li>
                    <li>
                        <p class="article-body">Tallest freestanding structure: 829.8 m (2,722 ft) (previously CN Tower
                            – 553.3 m or 1,815 ft)
                        </p>
                    </li>
                    <li>
                        <p class="article-body">Tallest skyscraper (to top of spire): 828 m (2,717 ft) (previously
                            Taipei 101 – 509.2 m or 1,671 ft)</p>
                    </li>
                    <li>
                        <p class="article-body">Tallest skyscraper to top of antenna: 829.8 m (2,722 ft) (previously the
                            Willis (formerly Sears) Tower– 527 m or 1,729 ft)
                        </p>
                    </li>
                    <li>
                        <p class="article-body">Building with most floors: 163 (previously World Trade Center– 110)

                        </p>
                    </li>
                    <li>
                        <p class="article-body">World's highest elevator installation (situated inside a rod at the very
                            top of the building)

                        </p>
                    </li>
                    <li>
                        <p class="article-body">World's longest travel distance elevators: 504 m (1,654 ft)


                        </p>
                    </li>
                    <li>
                        <p class="article-body">Highest vertical concrete pumping (for a building): 606 m (1,988 ft)


                        </p>
                    </li>
                    <li>
                        <p class="article-body">World's tallest structure that includes residential space



                        </p>
                    </li>
                    <li>
                        <p class="article-body">World's highest installation of an aluminium and glass façade: 512 m
                            (1,680 ft)



                        </p>
                    </li>
                    <li>
                        <p class="article-body">World's highest nightclub: 144th floor


                        </p>
                    </li>
                    <li>
                        <p class="article-body">World's highest restaurant (At.mosphere): 122nd floor at 442 m (1,450
                            ft) (previously 360, at a height of 350 m (1,148 ft) in CN Tower


                        </p>
                    </li>
                    <li>
                        <p class="article-body">World's highest New Year display of fireworks



                        </p>
                    </li>
                    <li>
                        <p class="article-body">World's largest light and sound show staged on a single building




                        </p>
                    </li>
                </ul>

                <img class="img-responsive article-image-2" src="../../public/img-article/indian-flag-on-burz-khalifa.jpg"
                    alt="dsbcjkdbvbh">

                <br>
                <br>

            </div>



            <br>
            <br>
            <div class="col-sm-9">
                <div class="instagram-plugin">

                    <!-- <script src="https://apps.elfsight.com/p/platform.js" defer></script>
                    <div class="elfsight-app-ad3a0331-c37d-4329-817d-8e61d7ab62b4"></div> -->
                </div>


                <div class="facebook-plugin">

                    <div id="fb-root"></div>
                    <script async defer crossorigin="anonymous"
                        src="https://connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v10.0" nonce="5v9pmMK8"></script>
            
                        <div class="fb-page" data-href="https://www.facebook.com/ces.nitsurat" data-tabs="timeline" data-width="" data-height="" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><blockquote cite="https://www.facebook.com/ces.nitsurat" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/ces.nitsurat">Civil Engineering Society, NIT Surat</a></blockquote></div>
                </div>

            </div>
            <br>
            <br>



            <div class="recommended-article-container">

                <h1 class="article-title">Recommended Reads:</h1>
                <hr>


                <div class="row no-gutters horizontal-artical-card" id="article-1">
                    <div class="col-md-4">
                        <a href="/ces/articles/Three-Gorges-Dam"><img
                                src="../../public/img-article/Three-Gorges-Dam-Yangtze-River-China.jpg" class="card-img"
                                alt="..."></a>
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <p class="card-text"><small class="text-muted"> Om Gheewala, B.tech 2nd-year | January 21, 2021</small></p>
                            <a href="/ces/articles/Three-Gorges-Dam">
                                <h1 class="card-title">China’s massive Three Gorges Dam, Breath-taking, Heart-Pounding
                                    Structure.</h1>
                            </a>
                            <p class="card-text">It is currently the world’s largest power producing dam in terms of
                                installed
                                capacity which is of 22,500 Megawatts (MWs) - the Hydro Electricity produced by this
                                plant can explicitly serve electricity to 18 million homes for an entire year</p>
                        </div>
                    </div>
                </div>


                <div class="row no-gutters horizontal-artical-card" id="article-1">
                    <div class="col-md-4">
                      <a href="/ces/articles/The-Flatiron-Building"><img src="../../public/img-article/Flatiron-Building.jpg" class="card-img" alt="..."></a>
                    </div>
                    <div class="col-md-8">
                      <div class="card-body">
                        <p class="card-text"><small class="text-muted">  Vaishnavi Kulhade, B.tech 2nd-year | February 12, 2021</small></p>
                        <a href="/ces/articles/The-Flatiron-Building"><h1 class="card-title">The Flatiron Building in Manhattan, New York city</h1></a>
                        <p class="card-text">The distinctive triangular shape of the Flatiron Building, designed by Chicago architect Daniel Burnham and built in 1902, allowed it to fill the wedge-shaped property located at the intersection of Fifth Avenue and Broadway..</p>
                      </div>
                    </div>
                </div>


            </div>



        </div>
    </div>






    <%- include('partials/footer') %>