<%- include('partials/header') %>

<div class="container mt-5">

    <div class="row">
      
        <div class="col-sm-9">

            <h1 class="article-title">Smart Irrigation System </h1>
            <p class="display-6 article-subtitle">Smart irrigation systems is a combination of an advanced AI technology of sprinklers with nozzles.</p>

            <hr>
            <br>


        <img class="img-responsive article-image-2" src="../../public/img-article/irrigation 2.jpg" alt="dsbcjkdbvbh">


        <div class="col-sm-9">

            <p class="blockquote article-writer"> By - <%=writer %>, B.tech 2nd-year </p>
            <p class="article-date"> <%=date %> </p>

        </div>



        <div class="col-sm-9">

            <p class="article-body">Smart irrigation systems is a combination of advanced AI technology and sprinklers
            with nozzles. It consist of IoT, data analytics, AI, ML, mobile pump controllers, wireless valve controllers, 
            wireless sensors and satellite data that improve coverage and irrigation controllers of watering and water 
            conservation systems that monitor moisture-related conditions on your land to be irrigated and automatically 
            adjust watering to optimal levels and irrigate the property very efficiently. As per the need, there are two 
            general types: Weather-based and Soil-based
                </p>
                
             

            <p class="article-body">It's an Artificial intelligence & ET-based technology (Internet of Things), 
            which is a weather-based irrigation system that includes either a mini on-site weather station or weather sensor capable of monitoring 
            conditions such as rainfall, temperature and solar radiation on your property, or this same information is broadcast to the irrigation 
            controller from a remote weather site to optimised the system and irrigate accordingly. It monitors, control and utilises water judiciously.
                </p>


      

<img class="img-responsive article-image-2" src="../../public/img-article/irrigation 1.png" alt="dsbcjkdbvbh">
             
             <p class="article-body">Another type of smart irrigation system is the moisture-based system. This system uses sensors 
             (placed inside the soil ) to measure the actual moisture content of the soil. Then it adjusts the time and quantity of 
             irrigation water based on this data. Some points included are the type of plant is to be irrigated, type of landscape property and weather conditions.
                </p>
                

            
            <p class="article-body">Making our watering system smart is a very beneficial thing to do. Our main benefits will be: App control sprinkler-
            We can schedule watering automatically; Sensors (rain, soil wetness, etc.) optimize the irrigation as per the need of plants; 
            Leakages are notified on the app; Lower water bills; Voice command control to control the watering system. 
                </p>
                
            <p class="article-body" style="font-weight:bolder"> Why should we use this or spend on these systems? </p>
            
            <p class="article-body">A substantial amount of water is lost  (approx 20% to 50% ) due to evaporation, wind, and runoff due
            to improper watering methods or overwatering. Reduces or eliminates this loss; as a result, it decreases utility bills and creates 
            a more water-efficient and healthy landscape. Lower consumption is equal to Lower cost plus Environmental responsibility. 
                </p>
                
               <img class="img-responsive article-image-2" src="../../public/img-article/irrigation 3.jpeg" alt="dsbcjkdbvbh">  
               
             <p class="article-body">This smart system increases irrigation efficiency by reducing water waste while maintaining plant health and quality. 
             It saves almost 20 to 50% of water. This system was developed in such a way that it can minimize outdoor water use by irrigating based on
             the plant's water need. ( by collecting data through sensors and after analysing ) which uses less water as compared to old traditional methods of watering.
                </p>
                
             <p class="article-body">In a survey of CSDS Delhi, 62% of farmers said in the interview they would quit farming for a good job in the city. 
             In India, the largest segment of the population are farmers, and irrigation is one of their biggest problems. One man from Andhra Pradesh named
             Vijay Bhaskar Reddy developed this system and named as 'KISANRAJA'. Since its innovation, it has helped over 34200 Farmers through this smart irrigation system.
                </p>
                
                <img class="img-responsive article-image-2" src="../../public/img-article/irrigation 4.jpg" alt="dsbcjkdbvbh">
                
                
               <p class="article-body">Kisanraja is loaded with all the features discussed above mobile control with all information on rainfall temperature, humidity,
               and atmospheric pressure. A sim card is inserted in it, and the user can operate the pumps on and off by calling, SMS on inserted sim or through internet via
               using app from anywhere. The basic cost of Kisanraja with minimum features is Rs. 6000 on additional features, the cost of device goes up. Now across Ten state's 
               farmers benefit from it ,namely Haryana, Punjab, Rajasthan, Telangana, Andhra Pradesh, Karnataka, Maharashtra, Tamil Nadu, Madhya Pradesh and West Bengal.
                </p>


            <br>
            <br>

        </div>




        <br>
  



        <div class="recommended-article-container">

            <h1 class="article-title">Recommended Reads:</h1>
            <hr>


            <div class="row no-gutters horizontal-artical-card" id="article-1">
                <div class="col-md-4">
              <a href="/ces/articles/smart-waste"><img src="../public/img-article/wastewater01.jpeg" class="card-img-top" alt="..."></a>
                </div>
                <div class="col-md-8">
                  <div class="card-body">
                    <p class="card-text"><small class="text-muted">  Abhishek Tiwari, Sriya Rao, B.tech 2nd-year | January 4, 2022</small></p>
                     <a href="/ces/articles/smart-waste"><h1 class="card-title">Smart Wastewater Management System: Reliable and Sustainable</h1></a>
                    <p class="card-text">Smart Waste Water Management is defined as the utilization of technology to optimize the performance of wastewater operations and sanitary networks to provide pollution-free clean water and reliable sanitation for communities..</p>
                  </div>
                </div>
            </div>


            


        </div>


  
    </div>
  </div>





  <%- include('partials/footer') %>
