<%- include('partials/header') %>

<div class="container mt-5">

    <div class="row">
      
        <div class="col-sm-9">

            <h1 class="article-title">Smart Transportation: For Faster Future</h1>
            <p class="display-6 article-subtitle">Good smart transportation refer to the integrated application of modern technology and management strategies into transportation system.</p>

            <hr>
            <br>
            <div class="share-button">

                <a href="#"><i class="fas fa-share-alt fa-3x"></i></a>
               
            </div>
            <br>
        </div>

        <img class="img-responsive article-image-1" src="../../public/img-article/transport4.jpg" alt="dsbcjkdbvbh">


        <div class="col-sm-9">

            <p class="blockquote article-writer"> By - <%=writer %>, B.tech 2nd-year </p>
            <p class="article-date"> <%=date %> </p>

        </div>



        <div class="col-sm-9">

            <p class="article-body">Smart Transportation includes the use of several technologies to make transportation fast, 
                    effective, and reduce energy consumption. In developed countries, transportation accounts for 6-12% of the GDP. In addition, 
                    transportation has a good impact on people’s daily lives. On a daily workday, people spend about 8% of their time commuting to and from 
                    work. So smart transportation ensures vehicle and people safety. Some functions are developed which help to avoid accidents caused by humans. 
                    Examples like V2X and autonomous function.</p>
                    
            <p class="article-body" style="font-weight:bolder">Roadways Transportation</p>

            <p class="article-body">Smart cities need smart transportation and roadways transportation is a major part of transportation since it carries
            90% of total passenger traffic and 67% of freight traffic. Smart Roads technology consists of Photovoltaic cells embedded within hexagonal panels made 
            of tempered glass to pave roads. These hexagonal glass panels allow cars to stop safely even when travelling at high speeds and contain LEDs, microprocessors, 
            and snow-melting heating devices for hilly areas and also inductive charging capability for electric vehicles. For charging electric vehicles, an electric
            priority lane is made which uses embedded cables to generate magnetic fields that charge electric vehicles while driving. Glowing markers are used on the
            surface of roads which use a photo-luminescent powder that absorbs daylight and reflects at night. One 500m long strip glows for 8 hours in the dark but
            this glow is not consistent and is still in the testing phase. It could be more cost-effective once this technology completes the tasting phase. </p>
            
            <img class="img-responsive article-image-1" src="../../public/img-article/transport 3.jpg" alt="dsbcjkdbvbh">
            
          <p class="article-body" style="font-weight:bolder">Railways Transportation</p>

            <p class="article-body">The Ministry of Indian railway and the ministry of urban development both work together for the development of the nation.
            More than 400 railway stations will be built as per the smart cities mission in our country. Railway stations across our country are now redeveloped
            to get easier access and improve amenities. India's First Smart Railway Station is situated in Gandhinagar. Smart Railway is a new stage of 
            development of intelligent transportation informationization, and It is the total integration and comprehensive embodiment of the railway informationization
            public service system. Smart railways offer transportation leaders the opportunity to modernise their core technology and transportation infrastructure and 
            establish a new and better foundation that will meet today's growing demands for mobility and movement of goods. A modern railway transportation system requires 
            better safety, operational efficiency, and passenger experience. To this end, more and more smart devices such as environmental sensors, key status detectors, 
            and associated actuators are integrated into railway transportation networks.</p>
            
              <img class="img-responsive article-image-1" src="../../public/img-article/transport 2.jpg" alt="dsbcjkdbvbh">  
            
           <p class="article-body" style="font-weight:bolder">Waterways Transportation</p>


            <p class="article-body">Waterways transportation plays a significant role in the transportation system of almost every country because it is Economical 
            and Energy efficient. So to make water transport easier, effective, and safer we need smart waterways transportation, and here comes IWTS (Intelligent water 
            transportation system). IWTS monitoring system is installed in each passenger's vehicle and it sends monitoring data to the cloud service which ensures a
            vehicle’s status in water is known. Vehicles overweight condition, illegal passenger overloading, or any case of emergency will be reported immediately
            which enhances safer and secure transportation.</p>   
            
            
            <p class="article-body" style="font-weight:bolder">Airways Transportation</p>


            <p class="article-body">When there is a need for faster transportation the first thought which comes to mind is airways transportation for example
            during the pandemic supply of medical goods from other countries was transported via airways for faster delivery. For smart air transportation,
            we need smart airports. Smart airports contain a variety of technologies like internet of things (IoT) devices, GPS, and sensors for planning and
            operational tasks. Facial recognition technology in airports is increasing day by day providing an efficient boarding experience. </p>
            
             <img class="img-responsive article-image-1" src="../../public/img-article/transport5.png" alt="dsbcjkdbvbh">


            <p class="article-body">Smart transportation networks are safer because they're connected, flexible, and able to respond more quickly and in
            real-time for example, video and sensor technology allows city transportation system operators to monitor the traffic flow and respond to any
            potential disruptions before it occurs and improves traffic flow on. For developed cities, we require a reliable transportation system and
            a good network connection. Smart transportation enhances the sustainability and integrated development of a country. </p>
            


            <p class="article-body">Our main theme is to improve the transportation system and provide good alternatives for public transportation. 
            Smart transportation represents the next step in the integrated development of the entire transportation system. Transportation systems are 
            nowadays replaced by automated control systems. Smart transportation systems provide a set of strategies for accepting the challenge of assured
            safety and reducing congestion. In smart transportation systems, we use advanced communication sensors and information technology and the latest
            feature by which we enhance workability and sustainability. With the help of a smart transportation system, the rate of road accident wastage of
            fuels and traffic congestion have decreased to a large extent and transportation has become much more safer and efficient than before.</p>

            

            <br>
            <br>

        </div>




     

        <br>
        <br>



        <div class="recommended-article-container">

            <h1 class="article-title">Recommended Reads:</h1>
            <hr>


            <div class="row no-gutters horizontal-artical-card" id="article-1">
                <div class="col-md-4">
                  <a href="/ces/articles/smart-irrigation"><img src="../../public/img-article/irrigation 2.jpg" class="card-img" alt="..."></a>
                </div>
                <div class="col-md-8">
                  <div class="card-body">
                    <p class="card-text"><small class="text-muted"> Shubham Kumar, B.tech 2nd-year | January 18, 2022</small></p>
                    <a href="/ces/articles/smart-irrigation"><h1 class="card-title">Smart Irrigation System</h1></a>
                  
                  </div>
                </div>
            </div>


            <div class="row no-gutters horizontal-artical-card" id="article-1">
                <div class="col-md-4">
                  <a href="/ces/articles/smart-waste"><img src="../../public/img-article/wastewater01.jpeg" class="card-img" alt="..."></a>
                </div>
                <div class="col-md-8">
                  <div class="card-body">
                    <p class="card-text"><small class="text-muted">  Abhishek Tiwari, Sriya Rao, B.tech 2nd-year | January 4, 2022</small></p>
                    <a href="/ces/articles/smart-waste"><h1 class="card-title">Smart Wastewater Management System: Reliable and Sustainable</h1></a>
                    <p class="card-text">Smart Waste Water Management is defined as the utilization of technology to optimize the performance of wastewater operations and sanitary networks to provide pollution-free clean water and reliable sanitation for communities..</p>
                  </div>
                </div>
            </div>


        </div>


  
    </div>
  </div>





  <%- include('partials/footer') %>
