<%- include('partials/header') %>

<div class="container mt-5">

    <div class="row">
      
        <div class="col-sm-9">

            <h1 class="article-title">Lorem Ipsum</h1>
            <p class="display-6 article-subtitle">Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>

            <hr>
            <br>
            <div class="share-button">

                <a href="#"><i class="fas fa-share-alt fa-3x"></i></a>
                <a href="https://www.facebook.com/sharer.php?u=https://ces-nit-surat.herokuapp.com/ces/articles/atal-tunnel-worlds-longest-highway-tunnel" target="_blank"><i class="fab fa-facebook fa-3x"></i></a>

                <a href="https://twitter.com/share?url=https://ces-nit-surat.herokuapp.com/ces/articles/atal-tunnel-worlds-longest-highway-tunnel&amp;text=Hey%20everyone,do%20check%20this%20article%20out:%20" target="_blank"><i class="fab fa-twitter fa-3x"></i></a>

                <a href="https://wa.me/?text=Hey%20everyone,do%20check%20this%20article%20out:%20 https://ces-nit-surat.herokuapp.com/ces/articles/atal-tunnel-worlds-longest-highway-tunnel" data-action="share/whatsapp/share" target="_blank"><i class="fab fa-whatsapp fa-3x"></i></a>

                <a href="https://www.linkedin.com/shareArticle?url=https://ces-nit-surat.herokuapp.com/ces/articles/atal-tunnel-worlds-longest-highway-tunnel&amp;title=Hey%20everyone,do%20check%20this%20article%20out:%20" target="_blank"><i class="fab fa-linkedin fa-3x" target="_blank"></i></a>
            </div>
            <br>
        </div>

        <img class="img-responsive article-image-1" src="../../public/img-article/atal-tunnel-3.jpg" alt="dsbcjkdbvbh">
  

        <div class="col-sm-9">

            <p class="blockquote article-writer"> By - Shreya, B.tech 2nd-year </p>
            <p class="article-date"> 13 Dec 2021 </p>

        </div>


        <div class="col-sm-9">

            <p class="article-body">The World longest Tunnel is in Rohtang, Himachal Pradesh, India. The 9.02 Km tunnel built by the Border Road Organisation (BRO) connects Manali to Lahaul-spiti-valley at an altitude of 3000 Km was inaugurated by Honourable Prime
            minister Narendra Modi on October 3, 2020.</p>

            <p class="article-body">This project was initiated by Prime Minister Atal Bihari Vajpayee in year 2000 this is the reason why the Union Cabinet decided to name the tunnel as ‘ATAL TUNNEL’ to honour former Prime Minister.</p>

            <p class="article-body">Atal tunnel has also been equipped with a state-of-the-art electromechanical system. It contains SCADA- controlled illumination, monitoring as well as firefighting system, and semi transverse ventilation system.</p>

            <p class="article-body">Shaped like a HORSE-SHOE, the Rohtang tunnel is double laned and in a single tube. Moreover, it has a roadway of 8 metres. The overhead clearance of the tunnel is 5.525 metres. The width of the tunnel is 10.5 meters.</p>

            <img class="img-responsive article-image-2" src="../../public/img-article/atal-tunnel-2.jpg" alt="dsbcjkdbvbh">

            <p class="article-body">A fire proof emergency exit tunnel has also been built within the main tunnel itself. The emergency handles a traffic density of 1500 trucks per day and 3000 cars per day.</p>

            <p class="article-body">The tunnel has two portals- South and North portal. The former is 25 kms from Manali, standing at an altitude of 3061 metres. The north portal on the other hand is near Teling village in Lahaul valley at 3071 metres above sea level.</p>

            <p class="article-body">It provides all weather connectivity to the landlocked valley of Lahaul-spiti, which remains cut off for nearly six months in a year as the Rohtang pass is usually snow bound between November and April.
            </p>

            <p class="article-body">The tunnel reduces the distance by 46 km between Manali and Leh and the travel time by about 4 to 5 hours due to which it is expected to boost Tourism and winter sports in region, the tunnel is also significant from the military logistics viewpoint, will provide better connectivity to the armed forces in reaching Ladakh.
            </p>

            <br>
            <br>

        </div>


        <br>
        <br>
        <div class="col-sm-9">
            <div class="instagram-plugin">

                <!-- <script src="https://apps.elfsight.com/p/platform.js" defer></script>
                <div class="elfsight-app-ad3a0331-c37d-4329-817d-8e61d7ab62b4"></div> -->
            </div>
            
            
            <div class="facebook-plugin">

              <div id="fb-root"></div>
              <script async defer crossorigin="anonymous"
                  src="https://connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v10.0" nonce="5v9pmMK8"></script>
      
                  <div class="fb-page" data-href="https://www.facebook.com/ces.nitsurat" data-tabs="timeline" data-width="" data-height="" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><blockquote cite="https://www.facebook.com/ces.nitsurat" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/ces.nitsurat">Civil Engineering Society, NIT Surat</a></blockquote></div>
            </div>

        </div>
        <br>
        <br>
        

            <div class="recommended-article-container">

                <h1 class="article-title">Recommended Reads:</h1>
                <hr>
    
    
                <div class="row no-gutters horizontal-artical-card" id="article-1">
                    <div class="col-md-4">
                      <a href="/ces/articles/Three-Gorges-Dam"><img src="../../public/img-article/Three-Gorges-Dam-Yangtze-River-China.jpg" class="card-img" alt="..."></a>
                    </div>
                    <div class="col-md-8">
                      <div class="card-body">
                        <p class="card-text"><small class="text-muted">  Om Gheewala, B.tech 2nd-year | January 21, 2021</small></p>
                        <a href="/ces/articles/Three-Gorges-Dam"><h1 class="card-title">China’s massive Three Gorges Dam, Breath-taking, Heart-Pounding Structure.</h1></a>
                        <p class="card-text">It is currently the world’s largest power producing dam in terms of installed  
                            capacity which is of 22,500 Megawatts (MWs) - the Hydro Electricity produced by this plant can explicitly serve electricity to 18 million homes for an entire year</p>
                      </div>
                    </div>
                </div>
    
    
                <div class="row no-gutters horizontal-artical-card" id="article-1">
                    <div class="col-md-4">
                      <a href="/ces/articles/history-of-skyscrapers"><img src="../../public/img-article/skyscraper.jpg" class="card-img" alt="..."></a>
                    </div>
                    <div class="col-md-8">
                      <div class="card-body">
                        <p class="card-text"><small class="text-muted">  Pradeep Kumar Baitha, B.tech 2nd-year | January 25, 2021</small></p>
                        <a href="/ces/articles/history-of-skyscrapers"><h1 class="card-title">A visual history of skyscrapers [infographic]</h1></a>
                        <p class="card-text">As the population density of urban areas has increased, so has the need for buildings that rise rather than spread. The skyscraper, which was originally a form of commercial architecture, has increasingly been used for residential purposes as well..</p>
                      </div>
                    </div>
                </div>

                
            </div>



    </div>
        
</div>





 
 <%- include('partials/footer') %>
