<%- include('partials/header') %>

<div class="container mt-5">

    <div class="row">
      
        <div class="col-sm-9">

            <h1 class="article-title">Smart Building: Transforming the Built Environment </h1>
            <p class="display-6 article-subtitle"> An insight on the various features of smart building justifying why smart buildings are necessary for a sustainable future</p>

            <hr>
            <br>
            

        <img class="img-responsive article-image-1" src="../../public/img-article/smart_building_img 1.jpg" alt="dsbcjkdbvbh">
  

        <div class="col-sm-9">

            <p class="blockquote article-writer"> By - <%=writer %>, B.tech 2nd-year </p>
            <p class="article-date"> <%=date %> </p>

        </div>


        <div class="col-sm-9">

            <p class="article-body">A smart building is a structure that uses automated processes to control Building’s operations like heating, ventilation, air conditioning, lighting, security, and other systems. A smart building uses sensors, actuators, and microchips, to collect data and manage according to its functions and services, which reduces energy use, optimizes space usage, and minimizes the environmental impact of buildings. </p>

            <p class="article-body">The three key characteristics of the smart Building are Minimal Human Control, Optimization, and Quality. Building should manage itself to a high degree without human interference as it will be practically impossible for a human operator to manage the building’s multiple systems manually due to the high level of complexity caused by to extensive use of digital solutions.  Optimization involves the use of advanced digital systems like HVAC systems or BAS making them better than conventional buildings in terms of management and energy efficiency. The effectiveness of energy management and space utilization are major qualities of a smart building, along with working efficiency, environmental impact, waste management. </p>

            <p class="article-body">We consider various elements in the construction of a smart building; firstly, the HVAC (Heating Ventilation and air conditioning) SYSTEM, which interprets information from a variety of HVAC sensor points and maintains that data in real-time. It is a cloud-based system that is remotely accessible and limits consumption in unoccupied building zones, detect and diagnose faults, and reduces usage during times of peak energy demand. Electricity consumption can be reduced by controlling Plug loads. Plug loads can be handled strategically by installing controlling devices like automatically controlled receptacles, known as smart plugs, at the outlet. Advanced power strips (APS) are also used, cutting the power to any plug on the strip when not in use. </p>
            
            <img class="img-responsive article-image-2" src="../../public/img-article/smart building img 2.jpg" alt="dsbcjkdbvbh">

            <p class="article-body">Proper management of Lighting systems plays a significant role in reducing the energy consumption of the building. Smart lighting is an efficient network of LED and linear 
fluorescent luminaires with advanced sensing and control capability devices having features such as occupancy sensing, vacancy sensing, daylight harvesting, continuous dimming, and task tuning, to achieve up to 45% energy savings. Smart shades adjust their height to restrict the amount of light and heat entering the building. They have sensors that measure indoor and outdoor ambient temperatures or the sun’s position and radiation and offer 10% energy savings. 
</p>
 
            <p class="article-body">Energy Management and Information Systems (EMIS) plays a significant role in smart buildings they are a wide range of hardware and software used to manage energy use in commercial buildings. A whole-building connected by BAS centralizes controls to manage building operations and allows a building operator to adjust HVAC settings and lighting schedules from a centralized location rather than manually changing settings. Though the digital system exists, Human interference is necessary. Humans interpret the data displayed through smart building interfaces to create schedules, setpoints, and operational strategies or sequences to correct faults and reduce energy consumption. </p>

            <p class="article-body">Lastly, Connected Distributed Generation and Power are small-scale power generation sources that generate electricity at or near the point of use. DER involves distributed generation technologies—such as combustion turbines, fuel cells, and solar photovoltaic (PV)—that produces power independent of the utility grid.</p>
            
            <img class="img-responsive article-image-2" src="../../public/img-article/capital tower.png" alt="dsbcjkdbvbh">

            <p class="article-body">One of the examples of smart buildings is The Capital Tower in Singapore, a 52-story office building that won the Green Mark Platinum Award for its construction and design, for its energy and water efficiency. The Capital Tower is an intelligent building with built-in energy efficient systems, including energy recovery wheel system in its air-conditioning unit, allowing cool air to be recovered to maintain the chillers’ efficiency. Motion detectors installed at the lift lobbies and toilets conserve energy, while double-glazed glass windows reduce the heat penetration and minimize energy consumption. 
            </p>

            <p class="article-body">Benefits of using smart Building over a conventional building are reduced energy consumption by automating controls and optimizing systems to achieve greater efficiency and sustainability. It also reduces maintenance and operating costs as it ceases the resources that are not used, and the technology also ensures privacy and protection of residents in the building. A smart building with integrated systems can contribute to 30–50% savings in existing buildings that are otherwise inefficient. 
            </p>
            
             <p class="article-body"> Smart Buildings have advanced controls and sensors along with automation, communication, and analytic capabilities; they save energy by using advanced sensors and automated controls, reducing the economy of the building. Smart buildings are an essential part of smart cities and are much required for our sustainable and smart future. </p>

            <br>
            <br>

        </div>


        <br>
        <br>
       
            
  
        

            <div class="recommended-article-container">

                <h1 class="article-title">Recommended Reads:</h1>
                <hr>
    
    
                <div class="row no-gutters horizontal-artical-card" id="article-1">
                    <div class="col-md-4">
                      <a href="/ces/articles/Three-Gorges-Dam"><img src="../../public/img-article/Three-Gorges-Dam-Yangtze-River-China.jpg" class="card-img" alt="..."></a>
                    </div>
                    <div class="col-md-8">
                      <div class="card-body">
                        <p class="card-text"><small class="text-muted">  Om Gheewala, B.tech 2nd-year | January 21, 2021</small></p>
                        <a href="/ces/articles/Three-Gorges-Dam"><h1 class="card-title">China’s massive Three Gorges Dam, Breath-taking, Heart-Pounding Structure.</h1></a>
                        <p class="card-text">It is currently the world’s largest power producing dam in terms of installed  
                            capacity which is of 22,500 Megawatts (MWs) - the Hydro Electricity produced by this plant can explicitly serve electricity to 18 million homes for an entire year</p>
                      </div>
                    </div>
                </div>
    
    
                <div class="row no-gutters horizontal-artical-card" id="article-1">
                    <div class="col-md-4">
                      <a href="/ces/articles/history-of-skyscrapers"><img src="../../public/img-article/skyscraper.jpg" class="card-img" alt="..."></a>
                    </div>
                    <div class="col-md-8">
                      <div class="card-body">
                        <p class="card-text"><small class="text-muted">  Pradeep Kumar Baitha, B.tech 2nd-year | January 25, 2021</small></p>
                        <a href="/ces/articles/history-of-skyscrapers"><h1 class="card-title">A visual history of skyscrapers [infographic]</h1></a>
                        <p class="card-text">As the population density of urban areas has increased, so has the need for buildings that rise rather than spread. The skyscraper, which was originally a form of commercial architecture, has increasingly been used for residential purposes as well..</p>
                      </div>
                    </div>
                </div>

                
            </div>



    </div>
        
</div>





  




  <%- include('partials/footer') %>
