<%- include('partials/header') %>

<div class="container mt-5">

    <div class="row">
      
        <div class="col-sm-9">

            <h1 class="article-title">Smart Wastewater Management System: Reliable and Sustainable</h1>
            <p class="display-6 article-subtitle">Smart Waste Water Management is defined as the utilization of technology to optimize the performance of wastewater operations and sanitary networks...</p>

            <hr>
            <br>
            <div class="share-button">

                <a href="#"><i class="fas fa-share-alt fa-3x"></i></a>
                <a href="https://www.facebook.com/sharer.php?u=https://ces-nit-surat.herokuapp.com/ces/articles/Three-Gorges-Dam" target="_blank"><i class="fab fa-facebook fa-3x"></i></a>

                <a href="https://twitter.com/share?url=https://ces-nit-surat.herokuapp.com/ces/articles/Three-Gorges-Dam&amp;text=Hey%20everyone,do%20check%20this%20article%20out:%20" target="_blank"><i class="fab fa-twitter fa-3x"></i></a>

                <a href="https://wa.me/?text=Hey%20everyone,do%20check%20this%20article%20out:%20 https://ces-nit-surat.herokuapp.com/ces/articles/Three-Gorges-Dam" target="_blank"><i class="fab fa-whatsapp fa-3x"></i></a>

                <a href="https://www.linkedin.com/shareArticle?url=https://ces-nit-surat.herokuapp.com/ces/articles/Three-Gorges-Dam&amp;title=Hey%20everyone,do%20check%20this%20article%20out:%20" target="_blank"><i class="fab fa-linkedin fa-3x"></i></a>
            </div>
            <br>
        </div>

        <img class="img-responsive article-image-2" src="../../public/img-article/wastewater02.jpeg" alt="dsbcjkdbvbh">


        <div class="col-sm-9">

            <p class="blockquote article-writer"> By - <%=writer %>, B.tech 2nd-year </p>
            <p class="article-date"> <%=date %> </p>

        </div>



        <div class="col-sm-9">

            <p class="article-body">Smart wastewater systems operate by controlling and detecting chemicals in wastewater and 
            combined sewage overflows with the help of loT sensors to facilitate the demand for freshwater in future smart cities.
            Wireless sensor networks and Radio Frequencies are used to fetch the information obtained from the sensors mounted in 
            the concrete wall (underground) as there is no certain possibility of having a wired network inside the manholes. Based 
            on the ease of access, the authorities can grab the information either by using Wi-Fi or using cellular networks such as 
            3G/4G as these methods require low power for transmission of data and also offer good coverage.
                </p>
                
             

            <p class="article-body">This sewer technology helps in improvising the antiquated style of wastewater management by :
                </p>


            <ul>
                <li><p class="article-body">Preventing CSO (combined sewage overflows): During monsoon season, rainwater causes an overflow of combined sewer systems. loT sensors can assist concerned authorities to detect overflows in real-time and take necessary actions to suppress the water wastage.
 </p></li>

                <li><p class="article-body">Chemical detection in water pipelines: Without loT, Researchers would have to manually detect chemical levels in wastewater management systems, which might be a less reliable process. Smart loT sensors can deliver alerts to a central dashboard which will assist in the optimization of wastewater treatment operations and ensure that chemical discharge is kept to a minimum. </p></li>

                <li><p class="article-body">Pipes that are leaking should be replaced: Data such as topography and weather records can be collected using loT sensors. Al, on the other hand, can examine the data for patterns that can indicate which pipes are at risk of bursting. </p></li>

            </ul>

<img class="img-responsive article-image-2" src="../../public/img-article/wastewater03.jpeg" alt="dsbcjkdbvbh">
             
             <p class="article-body">This system is considered advantageous over the outdated version of wastewater management due to listed reasons :
                </p>
                

            
            <ul>
                <li>
                    <p class="article-body" style="font-weight:bolder">Data Integration in Real Time:</p>

                    <p class="article-body">By migrating real-time information out of the control room, the utility crew can always be aware of what is going on in the field and respond quickly and properly to any situation. When a pipe leaks or a piece of equipment breaks down, the utility team can send technicians to the scene right once with the information they need. 
                    </p>
                </li>

                <li>
                    <p class="article-body" style="font-weight:bolder">Improving Customer Satisfaction:</p>

                    <p class="article-body">Having a flexible framework in place enables utilities to set their long-term objectives. By transferring data from the Customer information System (CLS) into the SCADA system, they can get a more detailed picture of production vs consumption. By integrating hydraulic model simulations with the ClS, utilities can interact with the customers more accurately.
 
                    </p>
                </li>

                <li>
                    <p class="article-body" style="font-weight:bolder">Accurate Demand Forecasting:</p>

                    <p class="article-body">Utilities rely on previous data to develop a demand curve that allows them to correctly adjust their production to ensure peak efficiency. However, utilizing an AMl system, the process can be automated, allowing pumping regimens to be tailored to the demand. A Demand Management System (DMS), on the other hand, may track water demand and program pumps to meet specific needs for water and energy conservation.
                    </p>
                </li>

            </ul>


            <img class="img-responsive article-image-2" src="../../public/img-article/wastewater05.jpeg" alt="dsbcjkdbvbh">

            
            <p class="article-body">The growing demand for the Internet of Things (loT) and more efficient technology-directed waste management 
            is being fueled by the ties between smart technology and sustainable development. For environmental concerns, the world has implemented 
            loT technology for waste management processes, resulting in the emergence of smart cities. Sensors for capacity and weight, as well as WSNs
            and RFlDs, are used in smart city waste management. In the coming decades with more investment in the implementation of this technology, the
            world will see a transition to the inevitable smart wastewater management system.
                </p>
                


            <br>
            <br>

        </div>




        <br>
        <br>
        <div class="col-sm-9">
            <div class="instagram-plugin">

                <!-- <script src="https://apps.elfsight.com/p/platform.js" defer></script>
                <div class="elfsight-app-ad3a0331-c37d-4329-817d-8e61d7ab62b4"></div> -->
            </div>


            <div class="facebook-plugin">

                <div id="fb-root"></div>
                <script async defer crossorigin="anonymous"
                    src="https://connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v10.0" nonce="5v9pmMK8"></script>
        
                    <div class="fb-page" data-href="https://www.facebook.com/ces.nitsurat" data-tabs="timeline" data-width="" data-height="" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><blockquote cite="https://www.facebook.com/ces.nitsurat" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/ces.nitsurat">Civil Engineering Society, NIT Surat</a></blockquote></div>
            </div>

        </div>
        <br>
        <br>




        <div class="recommended-article-container">

            <h1 class="article-title">Recommended Reads:</h1>
            <hr>


            <div class="row no-gutters horizontal-artical-card" id="article-1">
                <div class="col-md-4">
                  <a href="/ces/articles/The-Flatiron-Building"><img src="../../public/img-article/Flatiron-Building.jpg" class="card-img" alt="..."></a>
                </div>
                <div class="col-md-8">
                  <div class="card-body">
                    <p class="card-text"><small class="text-muted">  Vaishnavi Kulhade, B.tech 2nd-year | February 12, 2021</small></p>
                    <a href="/ces/articles/The-Flatiron-Building"><h1 class="card-title">The Flatiron Building in Manhattan, New York city</h1></a>
                    <p class="card-text">The distinctive triangular shape of the Flatiron Building, designed by Chicago architect Daniel Burnham and built in 1902, allowed it to fill the wedge-shaped property located at the intersection of Fifth Avenue and Broadway..</p>
                  </div>
                </div>
            </div>


            <div class="row no-gutters horizontal-artical-card" id="article-1">
                <div class="col-md-4">
                  <a href="/ces/articles/Sir-M-Visvesvaraya-The-Father-of-Indian-Engineering"><img src="../../public/img-article/Visvesvaraya.jpg" class="card-img" alt="..."></a>
                </div>
                <div class="col-md-8">
                  <div class="card-body">
                    <p class="card-text"><small class="text-muted">  Aditya Jhajharia, B.tech 2nd-year | February 19, 2021</small></p>
                    <a href="/ces/articles/Sir-M-Visvesvaraya-The-Father-of-Indian-Engineering"><h1 class="card-title">Sir M.Visvesvaraya-The Father of Indian Engineering</h1></a>
                    <p class="card-text">M.Visvesvaraya(15.09.1860 – 14.04.1962) - The 19th Diwan Of Mysore, Honoured With THE BHARAT RATNA, The Knight Commander Of Indian Empire.</p>
                  </div>
                </div>
            </div>


        </div>


  
    </div>
  </div>





  <%- include('partials/footer') %>
