<%- include('partials/header') %>

<div class="container mt-5">

    <div class="row">
      
        <div class="col-sm-9">

            <h1 class="article-title">Metro Man of India, Elattuvalapil Sreedharan</h1>
            <p class="display-6 article-subtitle">Elattuvalapil Sreedharan is an Indian civil engineer and a retired IRSE officer who
                is known as the "Metro Man", was born on 12 June 1932 in Karukaputhur in the
                present-day Thrithala , Palakkad district of Kerala state.</p>

            <hr>
            <br>
            <div class="share-button">

                <a href="#"><i class="fas fa-share-alt fa-3x"></i></a>
                <a href="https://ces-nit-surat.herokuapp.com/ces/articles/metro-man-of-india-Sreedharan" target="_blank"><i class="fab fa-facebook fa-3x"></i></a>
                <a href="https://twitter.com/share?url=https://ces-nit-surat.herokuapp.com/ces/articles/metro-man-of-india-Sreedharan&amp;text=Hey%20everyone,do%20check%20this%20article%20out:%20" target="_blank"><i class="fab fa-twitter fa-3x"></i></a>

                <a href="https://wa.me/?text=Hey%20everyone,do%20check%20this%20article%20out:%20 https://ces-nit-surat.herokuapp.com/ces/articles/metro-man-of-india-Sreedharan" target="_blank"><i class="fab fa-whatsapp fa-3x"></i></a>

                <a href="https://www.linkedin.com/shareArticle?url=https://ces-nit-surat.herokuapp.com/ces/articles/metro-man-of-india-Sreedharan&amp;title=Hey%20everyone,do%20check%20this%20article%20out:%20" target="_blank"><i class="fab fa-linkedin fa-3x"></i></a>
            </div>
            <br>
        </div>

        <img class="img-responsive article-image-1" src="../../public/img-article/ESD.jpg" alt="dsbcjkdbvbh">


        <div class="col-sm-9">

            <p class="blockquote article-writer"> By - <%=writer %>, B.tech 2nd-year </p>
            <p class="article-date"> <%=date %> </p>

        </div>



        <div class="col-sm-9">

            <p class="article-body">Elattuvalapil Sreedharan is an Indian civil engineer and a retired IRSE officer who
                is known as the "Metro Man", was born on 12 June 1932 in Karukaputhur in the
                present-day Thrithala , Palakkad district of Kerala state. He completed his SSC in
                Basel Evangelical Mission Higher Secondary School and went to Victoria college in
                Palghat and later on Civil Engineering in JNTUK in Kakinada, Andhra Pradesh.</p>

            <p class="article-body">Sreedharan worked as a lecturer in Civil engineering at the Government
                Polytechnic and a year at the Bombay Port Trust as an apprentice later joined
                the Indian Railway Service of Engineers (IRSE), after clearing the Indian
                Engineering Services Exam in conducted by the UPSC in 1953. </p>

            <p class="article-body">In December 1963, a cyclone washed away parts of Pamban Bridge that connected Rameswaram to
                    mainland TamilNadu and at that time Sreedharan was put in-charge of the
                    execution and he restored the bridge in just 46 days which was such a good job
                    and later The Railway minister's Award was given to him in recognition of this
                    achievement.</p>


            <p class="article-body">As the deputy chief engineer, he was put in charge of the
                implementation, planning and design of the Calcutta metro, the first
                ever metro in India in 1970. He took over the Cochin shipyard in 1979 which was
                undergoing a phase of unproductivity and in 1981 under his leadership the ship
                launched its first ship MV Rani Padmini.</p>        




            <img class="img-responsive article-image-2" src="../../public/img-article/metro-man-SREEDHARAN.jpg" alt="dsbcjkdbvbh">


            <p class="article-body">He also finished great projects like when he was appointed the CMD of konkan
                railway in 1990 which was first major project in India to be undertaken under
                BOT basis, where total project covered 760 km and had over 150 bridges and 93
                tunnels along a length of 82 km and involved tunnelling through soft soil. That a
                public sector project could be completed without significant cost and time
                overruns was considered an achievement by many.</p>


            <p class="article-body">He was made the managingdirector of Delhi Metro Rail Corporation by then Delhi Chief Minister   Sahib     Singh Verma . Sreedharan was given the sobriquet of Metro Man by the media for his
                grand success in executing the completion of the Delhi Metro. His other works are
                Kochi Metro, Lucknow Metro Jaipur Metro, Coimbatore Metro. He also took
                initiatives such as employing transgender people, vertical gardening, respecting
                migrant labourers and use of solar power. After his 16 years of service with the
                Delhi Metro, Sreedharan retired from service on 31 December 2011.</p>
            


            <p class="article-body">He received Railway Minister’s award in Pamban bridge railways project. He was
                awarded Padma Shri by the Government of India (2001) and the Chevalier de la
                Légion d'honneur (Knight of the Legion of Honour) by the government of France,
                and the Padma Vibhushan by the government of India in 2008 also awarded the
                Bharat Ratna , the most prestigious civilian award and Dr.Y.Nayudamma
                Memorial Award and Bharat Shiromani award from the Shiromani
                Institute, Chandigarh and Lifetime achievement award at Republic-Open
                Magazine's Achievers Awards (2019).</p>

            

            <br>
            <br>

        </div>




        <br>
        <br>
        <div class="col-sm-9">
            <div class="instagram-plugin">

                <!-- <script src="https://apps.elfsight.com/p/platform.js" defer></script>
                <div class="elfsight-app-ad3a0331-c37d-4329-817d-8e61d7ab62b4"></div> -->
            </div>


            <div class="facebook-plugin">

                <div id="fb-root"></div>
                <script async defer crossorigin="anonymous"
                    src="https://connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v10.0" nonce="5v9pmMK8"></script>
        
                    <div class="fb-page" data-href="https://www.facebook.com/ces.nitsurat" data-tabs="timeline" data-width="" data-height="" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><blockquote cite="https://www.facebook.com/ces.nitsurat" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/ces.nitsurat">Civil Engineering Society, NIT Surat</a></blockquote></div>
            </div>

        </div>
        <br>
        <br>



        <div class="recommended-article-container">

            <h1 class="article-title">Recommended Reads:</h1>
            <hr>


            <div class="row no-gutters horizontal-artical-card" id="article-1">
                <div class="col-md-4">
                  <a href="/ces/articles/atal-tunnel-worlds-longest-highway-tunnel"><img src="../../public/img-article/atal-tunnel-3.jpg" class="card-img" alt="..."></a>
                </div>
                <div class="col-md-8">
                  <div class="card-body">
                    <p class="card-text"><small class="text-muted">  Abhay Singh Tomar, B.tech 2nd-year | February 16, 2021</small></p>
                    <a href="/ces/articles/atal-tunnel-worlds-longest-highway-tunnel"><h1 class="card-title">Atal Tunnel, World’s longest highway tunnel opened in Himachal Pradesh</h1></a>
                    <p class="card-text">The tunnel reduces the road distance by 46 Kms between Manali and Leh and the time by about 4 to 5 hours. A journey from Manali to Lahaul and Spiti Valley would now be covered in a little over 15 minutes..</p>
                  </div>
                </div>
            </div>


            <div class="row no-gutters horizontal-artical-card" id="article-1">
                <div class="col-md-4">
                  <a href="/ces/articles/Sir-M-Visvesvaraya-The-Father-of-Indian-Engineering"><img src="../../public/img-article/Visvesvaraya.jpg" class="card-img" alt="..."></a>
                </div>
                <div class="col-md-8">
                  <div class="card-body">
                    <p class="card-text"><small class="text-muted">  Aditya Jhajharia, B.tech 2nd-year | February 19, 2021</small></p>
                    <a href="/ces/articles/Sir-M-Visvesvaraya-The-Father-of-Indian-Engineering"><h1 class="card-title">Sir M.Visvesvaraya-The Father of Indian Engineering</h1></a>
                    <p class="card-text">M.Visvesvaraya(15.09.1860 – 14.04.1962) - The 19th Diwan Of Mysore, Honoured With THE BHARAT RATNA, The Knight Commander Of Indian Empire.</p>
                  </div>
                </div>
            </div>


        </div>


  
    </div>
  </div>





  <%- include('partials/footer') %>