<%- include('partials/header') %>

<div class="container mt-5">

    <div class="row">
      
        <div class="col-sm-9">

            <h1 class="article-title">Sir M.Visvesvaraya, The Father of Indian Engineering</h1>
            <p class="display-6 article-subtitle">M.Visvesvaraya(15.09.1860 – 14.04.1962) - The 19th Diwan Of Mysore, Honoured With THE BHARAT RATNA, The Knight Commander Of Indian Empire.</p>

            <hr>
            <br>
            <div class="share-button">

                <a href="#"><i class="fas fa-share-alt fa-3x"></i></a>
                <a href="#"><i class="fab fa-facebook fa-3x"></i></a>
                <a href="#"><i class="fab fa-twitter fa-3x"></i></a>
                <a href="#"><i class="fab fa-whatsapp fa-3x"></i></a>
                <a href="#"><i class="fab fa-linkedin fa-3x"></i></a>
            </div>
            <br>
        </div>

        <img class="img-responsive article-image-1" src="../../public/img-article/Visvesvaraya.jpg" alt="dsbcjkdbvbh">

        <div class="col-sm-9">

            <p class="blockquote article-writer"> By - <%=writer %>, B.tech 2nd-year </p>
            <p class="article-date"> <%=date %> </p>

        </div>



        <div class="col-sm-9">

            <p class="article-body">
                Sir Mokshagundam Visvesvaraya was an Indian civil Engineer born in a Brahmin family in karnataka state. His father was a great Sanskrit scholar. Visvesvaraya completed his schooling in village & went to high school in Bangalore. His father died when he was 15 years old and the family was plunged into poverty. To complete his education he started giving tuition to small children in his village. Visvesvaraya joined Central College in Bangalore and completed his Bachelor of Arts in 1881. To complete the graduation, he went to one of the best and 3rd oldest college of Asia, College Of Engineering Pune where he also got some help from Government. </p>

            <p class="article-body">After completing the graduation he worked as an assistant engineer. With his intelligence he also prevented the Vishakhapatnam port from Sea erosion. Visvesvaraya also helped In solving the flood problems in Hyderabad by designing a Flood Protection System in 1909.</p>

            <p class="article-body">Visvesvaraya was knighted as the Commander of the Indian Empire by the British for his contribution to the society in 1915. He was also honoured with India’s highest honour THE BHARAT RATNA in 1955 for his ventless work in field of engineering & education. Sir MV is the recipient of several honorary Doctoral degrees from 8 universities in india.
            </p>

            <p class="article-body">The great Civil engineer lived long and died on April 1962 at the age of 102 years. In his memories The College of Engineering Pune, erected a statue.
            </p>

            <img class="img-responsive article-image-2" src="../../public/img-article/Vishveshvarayya_in_his_30s.jpg" alt="dsbcjkdbvbh">

            <p class="article-body">India still celebrates his birth aniversery as “THE ENGINEERS DAY” On 15THSeptember.</p>

            

            <br>
            <br>

        </div>



        <br>
        <br>
        <div class="col-sm-9">
            <div class="instagram-plugin">

                <!-- <script src="https://apps.elfsight.com/p/platform.js" defer></script>
                <div class="elfsight-app-ad3a0331-c37d-4329-817d-8e61d7ab62b4"></div> -->
            </div>


            <div class="facebook-plugin">

              <div id="fb-root"></div>
              <script async defer crossorigin="anonymous"
                  src="https://connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v10.0" nonce="5v9pmMK8"></script>
      
                  <div class="fb-page" data-href="https://www.facebook.com/ces.nitsurat" data-tabs="timeline" data-width="" data-height="" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><blockquote cite="https://www.facebook.com/ces.nitsurat" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/ces.nitsurat">Civil Engineering Society, NIT Surat</a></blockquote></div>
            </div>

        </div>
        <br>
        <br>



        <div class="recommended-article-container">

            <h1 class="article-title">Recommended Reads:</h1>
            <hr>


            <div class="row no-gutters horizontal-artical-card" id="article-1">
                <div class="col-md-4">
                  <a href="/ces/articles/atal-tunnel-worlds-longest-highway-tunnel"><img src="../../public/img-article/atal-tunnel-3.jpg" class="card-img" alt="..."></a>
                </div>
                <div class="col-md-8">
                  <div class="card-body">
                    <p class="card-text"><small class="text-muted">  Abhay Singh Tomar, B.tech 2nd-year | February 16, 2021</small></p>
                    <a href="/ces/articles/atal-tunnel-worlds-longest-highway-tunnel"><h1 class="card-title">Atal Tunnel, World’s longest highway tunnel opened in Himachal Pradesh</h1></a>
                    <p class="card-text">The tunnel reduces the road distance by 46 Kms between Manali and Leh and the time by about 4 to 5 hours. A journey from Manali to Lahaul and Spiti Valley would now be covered in a little over 15 minutes..</p>
                  </div>
                </div>
            </div>


            <div class="row no-gutters horizontal-artical-card" id="article-1">
                <div class="col-md-4">
                  <a href="/ces/articles/history-of-skyscrapers"><img src="../../public/img-article/skyscraper.jpg" class="card-img" alt="..."></a>
                </div>
                <div class="col-md-8">
                  <div class="card-body">
                    <p class="card-text"><small class="text-muted">  Pradeep Kumar Baitha, B.tech 2nd-year | January 25, 2021</small></p>
                    <a href="/ces/articles/history-of-skyscrapers"><h1 class="card-title">A visual history of skyscrapers [infographic]</h1></a>
                    <p class="card-text">As the population density of urban areas has increased, so has the need for buildings that rise rather than spread. The skyscraper, which was originally a form of commercial architecture, has increasingly been used for residential purposes as well..</p>
                  </div>
                </div>
            </div>
        </div>




  
    </div>
  </div>





  
  <%- include('partials/footer') %>